<ion-header no-border>

  <ion-navbar color="white">
    <ion-title>创建工作日志</ion-title>
    <ion-buttons right>
      <button ion-button clear color="primary"
        (click)="postDailyCreate()"
        [disabled]="(dailyForm.invalid||dailyForm.controls['content'].value.trim()==='')&&!imagePicker.images.length">发布</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="dailyForm">
    <ion-list no-lines>
      <ion-item>
        <ion-label *ngIf="!dailyForm.hasError('maxlength', 'content')">{{dailyForm.controls['content'].value.length}}</ion-label>
        <ion-label class="error" *ngIf="dailyForm.hasError('maxlength', 'content')">超出{{dailyForm.controls['content'].value.length-maxLength}}字</ion-label>
        <ion-textarea autosize formControlName="content" name="content" placeholder="来说说今天都做了些什么……"></ion-textarea>
      </ion-item>
    </ion-list>
    <image-picker #imagePicker></image-picker>
  </form>
</ion-content>
