page-me-safe {

    .scroll-content{
      margin-top: rem(62)!important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        ion-list{
            .tips{
                display: flex;
                align-items: center;
                padding-left: rem(20);
                height: 3rem;
                font-family: PingFangSC-Regular;
                font-size: rem(19);
                color: #AFAFAF;
                letter-spacing: 0;
            }
            ion-input{
                font-size: rem(16);
            }
            .item{
                padding: 0 rem(20);
            }

            .telFont{
                font-family: PingFangSC-Regular;
                font-size: 16px;
                color: #DDDDDD;
                letter-spacing: 0;
            }
            .text-input{
                margin: 13px 0 !important;
                text-align: left;
                width: 100% !important;
            }
            .telNum{
                // width: calc(100% - 200px - 8px) !important;
                text-align: right;
                padding-right: rem(10);
            }
            .item.item-block .item-inner{
                padding-right: 0px;
                // border-bottom: 0.5px solid #f1f1f1 !important;
                @include border-b-1px(color($colors, boderColor));
            }
            .verify{
                height: rem(50);
                background-color: #4D74EB;
                font-size: rem(16);
                width: 90%;
                margin: rem(30) auto 0;
            }
        }
    }
    .toolbar .toolbar-title{
        font-size: rem(17);
        color: #333333;
    }
    .toolbar-background{
        background-color: #ffffff;
        // background-image: 0;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none;
    }
    .p{
        text-align: center;
        font-size: rem(14);
        color: #cccccc;
    }
    p{
        height: rem(10);
        background-color: #fafafa;
        margin: 0;
        width: 100%;
    }
    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        -webkit-box-shadow: inset 0 -0px 0 0 #488aff;
        box-shadow: inset 0 0px 0 0 #488aff !important;
      }
      .item-md.item-input.item-input-has-focus .item-inner,
      .item-md.item-input.input-has-focus .item-inner{
        -webkit-box-shadow: inset 0 -0px 0 0 #488aff;
        box-shadow: inset 0 -0px 0 0 #488aff;
      }
      .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #f53d3d;
        -webkit-box-shadow: inset 0 -0px 0 0 #f53d3d;
        box-shadow: inset 0 -0px 0 0 #f53d3d;
    }

}
