<ion-header>

  <ion-navbar color="white">
    <ion-title>账户安全</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <p class="p">请先进行账户安全验证</p> -->
  <p></p>
  <form [formGroup]="form"><!--  (ngSubmit)="login()" -->
    <ion-list>
        <ion-label class="tips">请先进行账户安全验证</ion-label>
        <ion-item>
          <ion-label class="telFont">手机号/用户名</ion-label>
          <ion-input formControlName="phoneNum" type="telNum" readonly disabled class="telNum" float-right></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="telFont">验证码</ion-label>
          <ion-input formControlName="msgCode" type="text"></ion-input>
          <button type="button" ion-button clear item-end  *ngIf="form.controls['msgCode'].value" (click)="form.controls['msgCode'].setValue('')">
            <ion-icon class="szom" name="guanbi"></ion-icon>
          </button>
          <button *ngIf="!second" ion-button clear item-end (click)="getSMSCode()" float-right>获取验证码</button>
          <button *ngIf="second" type="button" ion-button clear item-end float-right>
            {{second}} 秒
          </button>
        </ion-item>
        
        
        <button ion-button block class="verify" (click)="goSubmit()" [disabled]="form.invalid">验证</button>
        <!-- <button ion-button block class="verify" (click)="goSubmit()" >验证</button> -->
    </ion-list>
  </form>
</ion-content>
