page-login {
  .toolbar{
    border-bottom: none!important;
  }
  .toolbar-title {
    font-size: 17px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
  }
  .header-image {
    padding: 40px 0;
    .image {
      width: rem(70);
      height: rem(70);
      background: #4D74EB;
      border-radius: 100px;
      margin: 0 auto;
    }
  }
  .toolbar.toolbar-ios-white::after, .toolbar.toolbar-md-white::after{
    border-bottom: none;
  }
  .scroll-content{
    padding-top: 10px !important;
  }
  .item-block {
    min-height: initial;
    padding: 0;
    .item-inner{
      border-width: 0.5px!important;
      // border-bottom: 0.5px solid #dedede !important;
    }
    .item-button {
      margin: 0;
      padding: 0;
    }
    ion-icon {
      font-size: rem(14);
      margin: 0;
      min-height: initial;
      color: #ccc;
    }
  }
  .text-input {
    height: 50px;
    margin: 0;
  }
  .button-block {
    margin-top: 34px;
    height: 50px;
    background: #4D74EB;
    border-radius: 1px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: -0.38px;
    text-align: center;
    box-shadow: none;
  }
  .footer {
    margin-top: 117px;
  }
  .button-clear {
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
  }
  .item.item-block .item-inner {
    @include border-b-1px(color($colors,boderColor));
    // border-bottom: .5px solid color($colors,boderColor);
  }
  
  .input-cover {
    display: none;
  }
}
