<ion-header no-border>

  <ion-navbar color="white">
    <ion-title text-center>登录</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="header-image">
      <div class="image"></div>
    </div>
    <ion-item>
      <ion-input formControlName="userCode" placeholder="账号/手机号"></ion-input>
      <button type="button" ion-button clear item-end *ngIf="loginForm.controls['userCode'].value" (click)="loginForm.controls['userCode'].setValue('')">
        <ion-icon class="szom" name="guanbi"></ion-icon>
      </button>
    </ion-item>
    <ion-item *ngIf="!isPhone()">
      <ion-input formControlName="password" [type]="showPassword?'text':'password'" placeholder="密码"></ion-input>
      <button type="button" ion-button clear item-end *ngIf="loginForm.controls['password'].value" (click)="showPassword=!showPassword">
        <ion-icon class="szom" [name]="showPassword?'yanjing':'eye-close'"></ion-icon>
      </button>
    </ion-item>
    <ion-item *ngIf="isPhone()">
      <ion-input formControlName="msgCode" placeholder="短信验证码"></ion-input>
      <button *ngIf="!second" type="button" ion-button clear item-end (click)="getSMSCode()">
        获取验证码
      </button>
      <button *ngIf="second" type="button" ion-button clear item-end>
        {{second}} 秒
      </button>
    </ion-item>
    <button ion-button block [disabled]="loginForm.invalid">登录</button>
  </form>
  <div class="footer" text-center><button ion-button clear>登录帮助</button></div>
</ion-content>
