page-daily-three {
  .scroll-content{
    background-color: #fafafa;
  }
  .addItemInput{
    display: flex;
    align-items: inherit !important;
      ion-note{
        margin: 0 !important;
        margin-left: rem(20) !important;
      }
      .oneInput{
        flex: 1;
        padding-left: rem(20);
        margin-right: rem(20);
      }
  }
  .noDailyList{
    position: relative;
    text-align: center;
    margin-top: rem(100);
    img{
      display: block;
      width: rem(88);
      height: rem(88);
      position: relative;
      left: 50%;
      margin-left: rem(-44);
    }
    p{
      font-size: rem(15);
      color: #999999;
    }
  }
  ion-list {
    .quaterWeek{
      padding-left: rem(20) !important;
      background-color: #fafafa;
      font-size: rem(12);
      color: #999999;
      height: rem(25);
      line-height: rem(26);
    }
    ion-item {
      border-bottom: rem(1) solid #F1F1F1;
      height: rem(121);
      padding: rem(18) 0;
      align-items: inherit;
      ion-note{
        margin: 0;
        width: rem(26);
        height: rem(26);
        line-height: rem(26);
        text-align: center;
        background: #666666;
        color: #fff !important;
        &.now-daily{
          background: #4D74EB;
        }
      }
      .inaa{
        display: flex;
        padding-left: rem(20);
      }
      .ina{
        flex:1;
      }
      .item-inner {
        padding-left: rem(20);
        ion-label{
          margin: 0;
          div {
            &.text {
              background: #F4F4F4;
              border-radius: 1px;
              padding: rem(9) rem(7);
              height: rem(64);
              font-size: rem(15);
              color: #AFAFAF;
              letter-spacing: rem(-0.15);
              line-height: rem(16);
            }
            img {
              width: rem(36);
              height: rem(36);
              min-width: rem(36);
              min-height: rem(36);
              border-radius: rem(5);
            }
            span {
              font-size: rem(13);
              color: #AFAFAF;
              letter-spacing: rem(-0.08);
              line-height: rem(15);
            }
          }
        }
      }
      .bottom{
        padding-left: 0 !important;
      }
      .oneThreeTen{
        padding-left: rem(20);
      }
    }
  }
}
