page-daily-three {
  ion-list {
    ion-item.item {
      border-bottom: rem(1) solid #F1F1F1;
      height: rem(121);
      padding: rem(18) 0;
      align-items: inherit;
      ion-note[item-start] {
        margin: 0;
        width: rem(26);
        height: rem(26);
        line-height: rem(26);
        text-align: center;
        opacity: 0.3;
        background: #4D74EB;
      }
      .item-inner {
        padding-left: rem(20);
        ion-label{
          margin: 0;
          div {
            &.text {
              background: #F4F4F4;
              border-radius: 1px;
              padding: rem(9) rem(7);
              height: rem(64);
              font-size: rem(15);
              color: #AFAFAF;
              letter-spacing: rem(-0.15);
              line-height: rem(16);
            }
            &.content {
              height: rem(64);
              font-size: 15px;
              color: #333333;
              display: flex;
              h3 {
                flex-grow: 1;
                padding-right: rem(16);
              }
              img {
                width: rem(36);
                height: rem(36);
                border-radius: rem(5);
              }
            }
            span {
              font-size: rem(13);
              color: #AFAFAF;
              letter-spacing: rem(-0.08);
              line-height: rem(15);
              &.icons {
                float: right;
                ion-icon {
                  margin-left: rem(13);
                  font-size: rem(13);
                }
              }
            }
          }
        }
      }

    }
  }
}
