<ion-header no-border>

  <ion-navbar color="white">
    <ion-title text-center>通讯录</ion-title>
  </ion-navbar>

</ion-header>

<ion-content #content content-shadow>
  <div class="searcher-show-wrap" (click)="goAddresslistSearch()">
    <img class="search-icon" src="assets/imgs/search-gray@3x.png">
    <div class="searcher-input">搜索</div>
  </div>
  <ion-list class="type-list">
    <ion-item *ngIf="menuProvider.hasMenu('addresslist-new')" (click)="goAddresslistNew()">
      <ion-avatar item-start>
        <img src="assets/imgs/new-friend@3x.png">
      </ion-avatar>
      <h2>新的关注</h2>
      <ion-badge item-end *ngIf="storage.newAttention" class="red-dot"></ion-badge>
    </ion-item>
    <ion-item *ngIf="menuProvider.hasMenu('adresslist-unit')" (click)="goAddresslistUnit()">
      <ion-avatar item-start>
        <img src="assets/imgs/my-unit@3x.png">
      </ion-avatar>
      <h2>本单位</h2>
    </ion-item>
    <ion-item *ngIf="menuProvider.hasMenu('addresslist-org')" (click)="goAddresslistOther()">
      <ion-avatar item-start>
        <img src="assets/imgs/other-org@3x.png">
      </ion-avatar>
      <h2>其他组织</h2>
    </ion-item>
  </ion-list>

  <div style="text-align:center;" *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngFor="let group of friendList;let i = index;">
    <div class="divider" [id]="group.key">{{ group.key }}</div>
    <ion-list class="type-list">
      <ion-item *ngFor="let user of group.list;" (click)="goUserInfo(user)">
        <ion-avatar item-start *ngIf="user.userType!='02'">
          <img [src]="userProvider.getHeadImageUrl(user.personId)" onerror="this.src='assets/imgs/user.png'">
        </ion-avatar>
        <ion-avatar item-start *ngIf="user.userType=='02'">
          <img src="assets/imgs/banzi-user.png">
        </ion-avatar>
        <h2>{{user.name}}
          <ion-badge class="sign-tag">{{user.signInName}}</ion-badge>
        </h2>
        <ion-note>{{user.dutyName}}</ion-note>
      </ion-item>
    </ion-list>
  </div>

  <div class="group-selector">
    <div *ngFor="let key of groups" (click)="goGroup(key)">{{key}}</div>
  </div>
</ion-content>
