<ion-header>

  <ion-navbar>
    <ion-title>修改用户名</ion-title>
  </ion-navbar>
  <p class="topGrey"></p>
</ion-header>


<ion-content padding>
  
  <form [formGroup]="loginForm" (ngSubmit)="consolesom()">
    <ion-list>
      <ion-item>
        <!-- <ion-label>用户名</ion-label> -->
        <ion-input formControlName="uname" maxlength="16" placeholder="请输入新用户名"  type="text" oncopy="return false" onpaste="return false" oncut="return false" oncontextmenu="return false"></ion-input>
        <button type="button" ion-button clear item-end  *ngIf="loginForm.controls['uname'].value" (click)="loginForm.controls['uname'].setValue('')">
          <ion-icon class="szom" name="guanbi"></ion-icon>
        </button>
      </ion-item>


      <ion-item>
        <!-- <ion-label>再次输入</ion-label> -->
        <ion-input formControlName="reuname" maxlength="16"  placeholder="请确认新用户名"  type="text" oncopy="return false" onpaste="return false" oncut="return false" oncontextmenu="return false"></ion-input>
        <button type="button" ion-button clear item-end  *ngIf="loginForm.controls['reuname'].value" (click)="loginForm.controls['reuname'].setValue('')">
          <ion-icon class="szom" name="guanbi"></ion-icon>
        </button>
      </ion-item>
      <div *ngIf="(uname.touched && uname.hasError('required'))" class="error-message">* 请输入用户名</div>
      <!-- <div *ngIf="(uname.hasError('minlength') || uname.hasError('maxlength')) && uname.touched" class="error-message">*用户名要求8-16位，请检查。</div>
      <div *ngIf="uname.hasError('pattern') && uname.touched && (!uname.hasError('minlength') && !uname.hasError('maxlength'))" class="error-message">*用户名首字符必须为英文字符，请检查。</div>
      <div *ngIf="!(uname.hasError('required') || uname.hasError('maxlength') || uname.hasError('minlength') || uname.hasError('pattern'))">
        <div *ngIf="(reuname.touched && reuname.hasError('required'))" class="error-message">* 请再次输入用户名</div>
        <div *ngIf="(reuname.hasError('minlength') || reuname.hasError('maxlength')) && reuname.touched" class="error-message">*用户名要求8-16位，请检查。</div>
        <div *ngIf="reuname.hasError('pattern') && reuname.touched && (!reuname.hasError('minlength') && !reuname.hasError('maxlength'))" class="error-message">*再次输入的用户名首字符必须为英文字符，请检查。</div>
      </div> -->
      <p class="firstP">1. 用户名长度最小8位，最大16位</p>
      <p>2. 用户名首字符必须为英文字符, 在登陆时英文字符不区分大小写</p>
      <button ion-button block class="verify" [disabled]="loginForm.invalid">提交</button>
    </ion-list>
  </form>
</ion-content>
