page-dynamic-detail {
    .daily-detail-main{
        padding: rem(12) rem(15) 0 rem(15);
        .img-name{
          ion-avatar{
            width: rem(40);
            height: rem(40);
            margin: 0 rem(8) 0 0;
            border-radius: 0;
          }
          .item-inner{
            border: none;
            .label{
              margin: 0;
            }
          }
        }

        .title{
          font-size: rem(17);
          font-weight: 600;
          color: #262626;
          letter-spacing: 0;
          line-height: rem(26);
          margin: 0;
        }
        .content{
          font-size: rem(15);
          color: #595959;
          line-height: rem(22);
          margin: rem(9) 0 rem(5) 0;
        }
        .imgs{
          display: flex;
          margin: 0 0 rem(25) 0;
        }
        .other{
          .pubTime{
            font-size: rem(13);
            color: #999999;
            letter-spacing: -0.08px;
            text-align: left;
            line-height: rem(24);
          }
          .dianzan{
            margin: 0;
            padding-right: 0;
            vertical-align: middle;
            line-height: rem(24);
            height: rem(24);
            color: #999999;
            ion-icon{
              margin-bottom: rem(2);
            }
            &.dianji{
              color: color($colors,subBlueColor);
            }
            img {
              width: rem(23);
            }
          }
        }
        .like-list {
          padding: rem(10) rem(10);
          background: #f4f4f4;
          width: 100%;
          .col{
            padding: 0;
            white-space: normal;
          }
          .zanList{
            width: rem(20);
          }
        }
        .comList{
          position: relative;
          background: #f4f4f4;
          padding: rem(10) rem(10);
          &.no-line:before {
            height: 0;
          }
          &:before {
            content: '';
            position: absolute;
            height: rem(.5);
            left: rem(10);
            top: 0;
            right: rem(10);
            background: #dddddd;
          }
          p{
            margin: 0 0 rem(6) 0;
            line-height: normal;
          }
          a{
            font-size: rem(14);
            color: color($colors,subBlueColor);
          }
          span{
            font-size: rem(14);
            color: #595959;
            line-height: rem(15);
          }
        }
      }

      .publish-comment{
        padding: rem(8) rem(15);
        .item-inner{
          box-shadow: none!important;
          border: none!important;
          padding: 0!important;
          position: relative; /**/
        }
        [item-end] {
          height: rem(37);
          margin: rem(4) 0 0 rem(14);
          height: rem(28);
          padding: 0 rem(8);
          background: color($colors,mainBlueColor);
          font-size: rem(12);
          border-radius: rem(2);
        }
        ion-icon.szom {
          height: rem(37);
          line-height: rem(37);
          font-size: rem(24);
          color: #4D74EB;
        }
        ion-textarea{
          line-height: rem(16);
          background: #F4F4F4;
          border-radius: rem(2);
          font-size: rem(15);
          letter-spacing: -0.15px;
          margin: 0;
          padding-left: rem(4);

          .text-input{
            margin: 11px 0;
          }
        }
      }

}
