<ion-header no-border>

  <ion-navbar color="white">
    <ion-title text-center>干部动态</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="dynamic" class="daily-detail-main">
    <ion-item no-padding class="img-name">
      <ion-avatar item-start>
        <img [src]="userProvider.getHeadImageUrl(dynamic.soaPersonInfoDTO.personId)" onerror="this.src='assets/imgs/user.png'">
      </ion-avatar>
      <h3>{{dynamic.soaPersonInfoDTO.name}}</h3>
    </ion-item>
    <pre class="content">{{dynamic.content}}</pre>
    <img-show [uploadFileDetailDTOList]="dynamic.uploadFileDetailDTOList"></img-show>
    <div class="other">
      <ion-note class="pubTime">{{dynamic.publishTime | date:'yyyy-MM-dd hh:mm:ss'}}</ion-note>
      <button class="dianzan" *ngIf="!dynamic.hasMeLike" ion-button clear float-right (click)="sendLike()">
        <ion-icon name="md-dianzanmoren" class="szom"></ion-icon>
      </button>
      <button class="dianzan dianji" *ngIf="dynamic.hasMeLike" ion-button clear float-right>
        <ion-icon name="md-dianzandianji" class="szom"></ion-icon>
      </button>
    </div>
    <div [hidden]="!dynamic.sbLikeList.length && !dynamic.sbCommentList.length" class="line"></div>
    <ion-row class="like-wrap" *ngIf="dynamic.sbLikeList.length" (click)="goLikeList()">
      <ion-icon name="md-dianzandianji" class="szom"></ion-icon>
      <ion-note class="like-names" *ngIf="dynamic.sbLikeList.length<=13">
        <span *ngFor="let user of dynamic.sbLikeList.slice(0, 13);let i=index;" class="zanName">
          <a class="zan-name">{{user.likeUserName}}</a>
          <span class="zan-name" *ngIf="i<12&&i<dynamic.sbLikeList.length-1">、</span>
        </span>
      </ion-note>
      <ion-note class="like-names" *ngIf="dynamic.sbLikeList.length>13">
        <span *ngFor="let user of dynamic.sbLikeList.slice(0, 12);let i=index;" class="zanName">
          <a class="zan-name">{{user.likeUserName}}</a>
          <span class="zan-name" *ngIf="i<11&&i<dynamic.sbLikeList.length-1">、</span>
        </span>
        <span>等{{dynamic.sbLikeList.length}}人觉得很赞</span>
      </ion-note>
    </ion-row>
    <ion-list class="comment-list" *ngIf="dynamic.sbCommentList">
      <p (click)="goLikeList()" *ngFor="let comment of dynamic.sbCommentList" class="comment-item" (click)="commentId=comment.sbCommentId;placeholder='回复'+comment.commentUserName+':';">
        <a>{{comment.commentUserName}}</a>
        <span *ngIf="comment.beCommentUserName">回复
          <a>{{comment.beCommentUserName}}</a>
        </span>:
        <ion-note class="commentCon">{{comment.content}}</ion-note>
      </p>
    </ion-list>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-item class="publish-comment" no-lines>
    <ion-textarea rows=1 autosize placeholder="{{placeholder}}" [(ngModel)]="comment"></ion-textarea>
    <button item-end ion-button (click)="sendComment()">发送</button>
  </ion-item>
</ion-footer>
