<ion-header no-border>

  <ion-navbar color="white">
    <ion-title text-center>干部动态</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="dynamic" class="daily-detail-main">
    <ion-item no-padding class="img-name">
      <ion-avatar item-start>
        <img src="assets/imgs/user.jpg">
      </ion-avatar>
      <h3>{{dynamic.soaPersonInfoDTO.name}}</h3>
    </ion-item>
    <pre class="content">{{dynamic.content}}</pre>
    <div class="imgs">
    </div>
    <ion-note class="pubTime">{{dynamic.publishTime | date:'yyyy-MM-dd hh:mm:ss'}}</ion-note>
    <ion-row class="like-wrap">
      <ion-icon name="md-dianzandianji" class="szom"></ion-icon>
      <ion-note class="like-names" *ngIf="dynamic.sbLikeList">
        <a (click)="goLikeList()" *ngFor="let user of dynamic.sbLikeList" class="zanName">{{user.likeUserName}}、</a>
        <span class="andSoOn" [hidden]="dynamic.sbLikeList.length<11">等{{dynamic.sbLikeList.length}}人觉得很赞</span>
      </ion-note>
    </ion-row>
    <ion-list class="comment-list" *ngIf="dynamic.sbCommentList">
      <p *ngFor="let comment of dynamic.sbCommentList" class="comment-item" (click)="commentId=comment.sbCommentId;placeholder='回复'+comment.commentUserName+':';">
        <a>{{comment.commentUserName}}</a>
        <span *ngIf="comment.beCommentUserName">回复
          <a>{{comment.beCommentUserName}}</a>
        </span>:
        <ion-note class="commentCon">{{comment.content}}</ion-note>
      </p>
    </ion-list>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-item class="publish-comment" no-lines>
    <ion-textarea rows=1 autosize placeholder="{{placeholder}}" [(ngModel)]="comment"></ion-textarea>
    <div item-end>
      <button ion-button (click)="sendComment()">发送</button>
      <button *ngIf="!hasMeLike()" ion-button clear (click)="sendLike()">
        <ion-icon name="md-dianzanmoren" class="szom"></ion-icon>
      </button>
      <button *ngIf="hasMeLike()" ion-button clear>
        <ion-icon name="md-dianzandianji" class="szom"></ion-icon>
      </button>
    </div>
  </ion-item>
</ion-footer>