<div class="like-main-wrapper animated bounceInUp" #wrapper (click)="close()">
  <div class="like-main" (click)="$event.stopPropagation();">
    <div class="total" style="background-image: url(assets/imgs/daily-modal-bg.png);background-size: 100% 100%;">
      <ion-icon class="szom" name="md-icon_delete" (click)="close()"></ion-icon>
      {{stlikeSum}}
      <p class="des">总赞数</p>
    </div>
    <ion-list *ngIf="stlikeList" class="like-classify" no-lines>
      <ion-item *ngFor="let stlike of stlikeList;let i=index;">
        <span class="li-type"></span>
        <p class="des">{{stlike.operatorTypeName}}</p>
        <p class="num" item-end>{{stlike.likeCounts?stlike.likeCounts:"—"}}</p>
      </ion-item>
    </ion-list>
  </div>
</div>
