<ion-header no-border>

  <ion-navbar color="white">
    <ion-title text-center>本单位</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar placeholder="搜索服务、办事项目"></ion-searchbar>
  <ion-list no-lines>
    <ion-item-group *ngFor="let item of teamlist">
      <ion-item-divider (click)="showDetail = !showDetail"> {{ item.text }}<ion-icon class="szom" [name]="showDetail?'md-shang':'md-xia'"></ion-icon></ion-item-divider>
      <ion-list class="peoples" [hidden]="!showDetail">
        <ion-item *ngFor="let item of teamlist">
          <ion-avatar item-start>
            <img src="assets/imgs/user.jpg">
          </ion-avatar>
          <h2>{{ item.text }}</h2>
          <ion-note>{{ item.text }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-item-group>
  </ion-list>
</ion-content>