page-search-conditions {
    .scroll-content {
        background: #fafafa;
    }

    ion-header{
        .toolbar-background{
            background-color: #fff;
        }
        .input{
            ion-icon{
                position: absolute;

            }
        }
    }

    
    .toolbar{
        box-sizing: border-box;
        padding: 0 rem(15);
        height: rem(48);
        background-color: #fff;
        .toolbar-content{
            display: flex;
            align-items: center;
            justify-content: space-around;

            .input-box{
                width: 100%;
                padding: 0;
                position: relative;
                display: flex;
                align-items: center;
                ion-icon{
                    position: absolute;
                    top: rem(8);
                    left: rem(10);
                    z-index: 3;
                    color: #AFAFAF;
                }

                .searchbar{
                    display: inline-block;
                    width: 100%;
                    height: rem(32);
                    min-height: auto;
                    padding: 0;
                    .searchbar-input-container{
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                    .searchbar-input{
                        height: 100%;
                        line-height: normal;
                        background-color: #F4F4F4;
                        border-radius: .2rem;
                        color: #333;
                        font-size: rem(14);
                        padding-left: rem(30);
                        box-shadow: none;
                        background-color: #F4F4F4;
                        border-radius: rem(2);
                    }
                    .searchbar-search-icon{
                        top: initial;
                        display: none;
                    }
                }
            }

            button{
                width: rem(40);
                height: rem(32);
                line-height: rem(32);
                padding: 0;
                margin: 0 0 0 rem(15);
                color: #545454;
                font-size: rem(17);
            }
            
        }

  
    }

    ion-content{
        overflow: hidden;
        
        // 搜索框部分
        .conditions{
            position: relative;
            height: rem(38);
            background: #FFF;
            padding: 0 16px;
            color: #AFAFAF;
            position: relative;
            margin-bottom: rem(5);
            .select-btn{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                z-index: 3;
                p{
                    white-space: nowrap;
                    padding-right: rem(5);
                }
                p.title{
                    
                    padding: 0 rem(8);
                }
                .color-blue{
                    color: #4D74EB;
                }
            }
            .left{
                display: flex;
                align-items: center;
                font-size: 15px;
                justify-content: space-between;
                width: 50px;
                p{
                    margin: 0!important;
                    letter-spacing: 0;
                }
            }
            .select-time{
                position: absolute;
                left: 0;
                top: 100%;
                width: 100%;
                color: #000;
                z-index: 3;
 
                .date-select{
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    height: rem(44);
                    background-color: #fff;
                    border: 1px solid #F1F1F1;
                    position: relative;
                    padding-right: rem(10);
                    .title{
                        padding-left: rem(10);
                    }
                    .tip{
                        position: absolute;
                        top: 0;
                        right: rem(45);
                        display: flex;
                        align-items: center;
                        height: 100%;
                        z-index: 0;
                    }
                    ion-datetime{
                        height: 100%;
                        background-color: transparent;
                        width: 70%;
                        z-index: 2;
                        button{
                            display: none;
                        }
                        .datetime-text{
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            // padding: 0 rem(10);
                        }
                    }
                    ion-icon{
                        color: #AFAFAF;
                    }
                }
                
                .btn{
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: rem(5);
                    button{
                        // border: 1px solid #DDDDDD;
                        border-radius: 2px;
                        width: 160px;
                        height: 29px;
                        margin-right: rem(10);
                        font-size: rem(14);
                        box-shadow: none;
                    }
                }
            }
        }
       

        .shade{
            position: fixed;
            top: rem(91);
            bottom:0;
            opacity: 0.5;
            background: #000000;
            width: 100%;
            height: 100%;
            z-index: 2;            
        }
        // 列表部分
        .daily-list {
            margin: 0;
            height: calc(100% - 48px);
            overflow: auto;
            position: relative;

            ion-item{
                background-color: transparent;
                box-shadow: 0 1px 1px #cecece;
            }
            .item{
              min-height: auto;
              box-shadow:none;
        
              .item-inner{
                padding: rem(16) rem(15);
                min-height: auto;
                border-bottom: .5px solid #f9f9f9;
              }
              .label{margin: 0;}
              ion-thumbnail{
                margin: 0 0 0 rem(22);
                width: rem(68);
                height: rem(68);
                min-width: auto;
                min-height: auto;
        
                img{
                  width: rem(68);
                  height: rem(68);
                }
              }
        
              h4{
                font-size: rem(15);
                font-family: PingFangSC-Medium;
                color: #333;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                margin: 0 0 rem(15) 0;
                .hightBright{
                    color: #4D74EB ;
                }
              }
              .other{
                color: #AFAFAF;
                font-size: 0;
        
                ion-note{
                  height: rem(15);
                  font-size: rem(13);
                  color: #AFAFAF;
                  letter-spacing: -0.08px;
                  text-align: right;
                  line-height: rem(15);
        
                  &:first-child{
                    margin-right: rem(16);
                  }
                  &:nth-child(2){
                    margin-right: rem(12);
                  }
        
                  ion-icon{
                    width: rem(12);
                    height: rem(12);
                    line-height: rem(12);
                    color: #AFAFAF;
                    font-size: rem(12);
                  }
                }
              }
            }
          }
    }


}
