page-user-impression {
  ion-navbar {
    .toolbar-background {
      background-image: linear-gradient(to right, #628FF7 0%, #3555DE 100%);
    }
    .toolbar-title, ion-icon {
      color: #fff;
    }
    button.bar-button {
      font-size: rem(17)!important;
      color: #FFFFFF;
      letter-spacing: 0;
    }
  }
  .conditions{
    z-index: 10;
    position: relative;
    width: 100%;
    height: rem(38);
    line-height: rem(38);
    background: #FFF;
    color: #AFAFAF;
    margin-top: 1px;
    margin-bottom: rem(5);
    .select-btn{
      position: relative;
      padding: 0 rem(15);
      z-index: 3;
      .filter-icon{
        width: rem(18);
        vertical-align: middle
      }
      span{
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        padding-right: rem(5);
      }
      span.title{
          padding: 0 rem(8);
      }
      .color-blue{
          color: #4D74EB;
      }
      .szom{
          line-height: rem(38);
      }
    }
  }
  .impression {
    padding-left: rem(10);
    background: #fff;
    ion-badge {
      display: block;
      float: left;
      height: rem(30);
      padding: 0 rem(8);
      line-height: rem(30);
      margin: rem(5) rem(5);
      color: #4D74EB;
      background: rgba(77,116,235,0.10);
      border-radius: 1px;
      font-size: rem(14);
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 0;
    }
  }
}
