<ion-header>

  <ion-navbar color="white">
    <ion-title>工作日志</ion-title>
    <ion-buttons right>
      <button ion-button (click)="onClickImport()" *ngIf="selectDaily">导入</button>
      <button ion-button *ngIf="!selectDaily" class="cantSucc">导入</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <div class="szom-search-wrap search-header">
    <div class="szom-search">
      <ion-searchbar #searchbar [(ngModel)]="searchKeyword" (ionInput)="onClickSearch()" placeholder="搜索"></ion-searchbar>
      <img class="search-icon" src="assets/imgs/search-gray@3x.png">
      <img class="search-clear-icon" *ngIf="searchKeyword" (click)="searchKeyword='';onClickSearch()" src="assets/imgs/delete@3x.png">
    </div>
  </div>
  <div class="conditions">
    <div class="select-btn" (click)="onClickFilter()">
      <img class="filter-icon" *ngIf="!timeStarts && !timeEnd" src="assets/imgs/filter@3x.png" />
      <img class="filter-icon" *ngIf="timeStarts || timeEnd" src="assets/imgs/filter-active@3x.png" />
      <span class="title">筛选:</span>
      <span class="color-blue" *ngIf="timeStarts || timeEnd">{{timeStarts}}至{{timeEnd}}</span>
      <ion-icon float-right class="szom" [name]="selectTimeShowFlag?'md-shang':'md-xia'"></ion-icon>
    </div>
  </div>
  <div *ngIf="!isLoading&&!logDataList.length" class="setDiv">
    <not-found></not-found>
  </div>
  <div style="text-align:center;" *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <ion-list *ngIf="logDataList" class="daily-list" radio-group>
    <ion-item *ngFor="let log of logDataList;let i=index;" tappable>
      <img class="radio-select" item-start src="assets/imgs/radio@3x.png" *ngIf="selectDaily!=log" />
      <img class="radio-select" item-start src="assets/imgs/radio-active@3x.png" *ngIf="selectDaily==log" />
      <!-- <ion-icon class="szom insertImg insertImg1" name="md-xuanze" item-start *ngIf="selectDaily!=log"></ion-icon> -->
      <ion-radio value="cord{{log.dailyId}}" item-start (click)="onClickItem(log)"></ion-radio>
      <ion-label>
        <h4 [innerHTML]="log.content | highLight:searchKeyword"></h4>
        <div class="other">
          <ion-note class="date">{{log.publishTime | date:'yyyy-MM-dd' }}</ion-note>
          <ion-note>
            <img class="show-icon" src="assets/imgs/dianzan-show@3x.png"> {{log.countStLike>0?log.countStLike:''}}
          </ion-note>
          <ion-note>
            <img class="show-icon" src="assets/imgs/message-show@3x.png">{{log.countStComment>0?log.countStComment:''}}
          </ion-note>
        </div>
      </ion-label>
      <ion-thumbnail item-end *ngIf="log.uploadFileDetailDTOList && log.uploadFileDetailDTOList.length">
        <img *ngIf="log.uploadFileDetailDTOList.length" [src]="getImageUrl(log.uploadFileDetailDTOList[0])" onerror="this.src='assets/imgs/default-img@3x.png'">
      </ion-thumbnail>

    </ion-item>
  </ion-list>
  <ion-infinite-scroll *ngIf="hasMore" (ionInfinite)="onScrollList($event)">
    <ion-infinite-scroll-content loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
