<ion-header no-border>
  <ion-navbar color="white">
    <ion-title text-center>工作日志</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="dynamic" class="dynamic-detail-main" (click)="placeholder=originalPlaceholder;commentId='';">
    <!-- <h2 class="title">《{{dynamic.title}}》</h2> -->
    <h4 class="content">
      <!-- QC上提的BUG (通过通讯录查看人员的工作日志列表界面，每季三励文字前面还是显示的【季报】) -->
      <span class="tag" *ngIf="dynamic.dataSource==2">周</span>
      <span class="tag" *ngIf="dynamic.dataSource==3">季</span>
      <span class="tag" *ngIf="dynamic.dataSource==4">年</span>
      {{dynamic.content}}
    </h4>
    <ul class="squared" no-padding *ngIf="dynamic.uploadFileDetailDTOList.length">
      <li *ngFor="let img of dynamic.uploadFileDetailDTOList">
        <div>
          <img [src]="getImageUrl(img)">
        </div>
      </li>
    </ul>
    <ion-note class="pubTime">{{dynamic.publishTime | date:'yyyy-MM-dd HH:mm:ss'}}</ion-note>
    <ion-row class="like-wrap" *ngIf="dynamic.sbLikeList.length">
      <ion-icon name="md-dianzandianji" class="szom"></ion-icon>
      <ion-note class="like-names">
        <a (click)="goLikeList()" *ngFor="let user of dynamic.sbLikeList.slice(0, 9);let i=index;" class="zanName">
          {{user.likeUserName}}<span *ngIf="i<9&&i<dynamic.sbLikeList.length-1">、</span>
        </a>
        <span class="andSoOn" *ngIf="dynamic.sbLikeList>9">等{{dynamic.sbLikeList.length}}人</span>
        <span class="andSoOn">觉得很赞</span>
      </ion-note>
    </ion-row>
    <ion-list class="comment-list">
      <p *ngFor="let comment of dynamic.sbCommentList" class="comment-item" (click)="replyComment(comment.sbCommentId,comment.commentUserName);$event.stopPropagation();">
        <a class="commentPeople">{{comment.commentUserName}}</a><span *ngIf="comment.beCommentUserName"> 回复 <a class="commentPeople">{{comment.beCommentUserName}}</a></span> :
        <ion-note class="commentCon">{{comment.content}}</ion-note>
      </p>
    </ion-list>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-item class="publish-comment" no-lines>
    <ion-textarea rows=1 autosize placeholder="{{placeholder}}" [(ngModel)]="comment"></ion-textarea>
    <div item-end>
      <button ion-button (click)="sendComment()">发送</button>
      <button *ngIf="!hasMeLike()" ion-button clear (click)="sendLike()">
        <ion-icon name="md-dianzanmoren" class="szom"></ion-icon>
      </button>
      <button *ngIf="hasMeLike()" ion-button clear>
        <ion-icon name="md-dianzandianji" class="szom"></ion-icon>
      </button>
    </div>
  </ion-item>
</ion-footer>
