<ion-header no-border>
  <ion-navbar color="white">
    <ion-title text-center>工作日志详情</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="dynamic" class="dynamic-detail-main" (click)="placeholder=originalPlaceholder;commentId='';">
    <!-- <h2 class="title">《{{dynamic.title}}》</h2> -->
    <h4 class="content">
      <!-- QC上提的BUG (通过通讯录查看人员的工作日志列表界面，每季三励文字前面还是显示的【季报】) -->
      <span class="tag" *ngIf="dynamic.dataSource==2">周</span>
      <span class="tag" *ngIf="dynamic.dataSource==3">季</span>
      <span class="tag" *ngIf="dynamic.dataSource==4">年</span>
      {{dynamic.content}}
    </h4>
    <img-show [uploadFileDetailDTOList]="dynamic.uploadFileDetailDTOList"></img-show>
    <div class="other">
      <ion-note class="pubTime">{{dynamic.publishTime | date:'yyyy-MM-dd HH:mm'}}</ion-note>
      <button class="dianzan" *ngIf="!dynamic.hasMeLike" ion-button clear float-right (click)="sendLike()">
        <img [class.scale-large]="dynamic.hasClicked" src="assets/imgs/dianzanmoren.png" />
      </button>
      <button class="dianzan dianji" *ngIf="dynamic.hasMeLike" ion-button clear float-right (click)="onClickCancelLikeIcon()">
        <img [class.scale-small]="dynamic.hasClicked" src="assets/imgs/dianzan.png" />
      </button>
    </div>
    <ion-row class="like-list" *ngIf="dynamic.sbLikeList.length" (click)="goLikeList()">
      <ion-col col-1 class="zanList-wrap">
        <img class="zanList" src="assets/imgs/dianzan-num@3x.png" />
      </ion-col>
      <ion-col class="zan" *ngIf="dynamic.sbLikeList.length<=8">
        <span *ngFor="let user of dynamic.sbLikeList.slice(0, 7);let li=index;">
          <a class="zanName">{{user.likeUserName}}</a>
          <span class="zanName" *ngIf="li<8&&li<dynamic.sbLikeList.length-1">、</span>
        </span>
      </ion-col>
      <ion-col class="zan" *ngIf="dynamic.sbLikeList.length>8">
        <span *ngFor="let user of dynamic.sbLikeList.slice(0, 7);let li=index;">
          <a class="zanName">{{user.likeUserName}}</a>
          <span class="zanName" *ngIf="li<7&&li<dynamic.sbLikeList.length-1">、</span>
        </span>
        <span>&nbsp;&nbsp;&nbsp;等{{dynamic.sbLikeList.length}}人觉得很赞</span>
      </ion-col>
    </ion-row>
    <div class="line" *ngIf="dynamic.sbLikeList && dynamic.sbLikeList.length && dynamic.sbCommentList && dynamic.sbCommentList.length"></div>
    <ion-list class="comList" *ngIf="dynamic.sbCommentList&&dynamic.sbCommentList.length">
      <p *ngFor="let comment of dynamic.sbCommentList" (click)="replyComment(comment.sbCommentId,comment.commentUserName);$event.stopPropagation();">
        <a (click)="onClickCommentName(comment.userCode,comment.commentUserType);$event.stopPropagation();">{{comment.commentUserName}}</a>
        <span *ngIf="comment.beCommentUserName">回复
          <a (click)="onClickCommentName(comment.beUserCode,comment.beUserType);$event.stopPropagation();">{{comment.beCommentUserName}}</a>
        </span>:
        <span>{{comment.content}}</span>
      </p>
    </ion-list>
    <div class="no-comment" *ngIf="!dynamic.sbCommentList || !dynamic.sbCommentList.length">快来发表你的见解吧</div>
    <!-- <div [hidden]="!dynamic.sbLikeList.length && !dynamic.sbCommentList.length" class="line"></div>
    <ion-row class="like-wrap" *ngIf="dynamic.sbLikeList.length" (click)="goLikeList()">
      <ion-icon name="md-dianzandianji" class="szom"></ion-icon>
      <ion-note class="like-names" *ngIf="dynamic.sbLikeList.length<=13">
        <span *ngFor="let user of dynamic.sbLikeList.slice(0, 13);let i=index;" class="zanName">
          <a class="zan-name">{{user.likeUserName}}</a>
          <span class="zan-name" *ngIf="i<12&&i<dynamic.sbLikeList.length-1">、</span>
        </span>
      </ion-note>
      <ion-note class="like-names" *ngIf="dynamic.sbLikeList.length>13">
        <span *ngFor="let user of dynamic.sbLikeList.slice(0, 12);let i=index;" class="zanName">
          <a class="zan-name">{{user.likeUserName}}</a>
          <span class="zan-name" *ngIf="i<11&&i<dynamic.sbLikeList.length-1">、</span>
        </span>
        <span>等{{dynamic.sbLikeList.length}}人觉得很赞</span>
      </ion-note>
    </ion-row>
    <ion-list class="comment-list">
      <p *ngFor="let comment of dynamic.sbCommentList" class="comment-item" (click)="replyComment(comment.sbCommentId,comment.commentUserName);$event.stopPropagation();">
        <a class="commentPeople" (click)="onClickCommentName(comment.userCode);$event.stopPropagation();">{{comment.commentUserName}}</a>
        <span *ngIf="comment.beCommentUserName"> 回复
          <a class="commentPeople" (click)="onClickCommentName(comment.beUserCode);$event.stopPropagation();">{{comment.beCommentUserName}}</a>
        </span> :
        <ion-note class="commentCon">{{comment.content}}</ion-note>
      </p>
    </ion-list> -->
  </div>
</ion-content>

<ion-footer no-border #footer>
  <ion-item class="publish-comment" no-lines>
    <ion-label *ngIf="comment.length <= maxLength">{{comment.length}}</ion-label>
    <ion-label class="error" *ngIf="comment.length > maxLength">超出{{comment.length-maxLength}}字</ion-label>
    <ion-textarea #commentTextarea rows=1 autosize placeholder="{{placeholder}}" [(ngModel)]="comment" [maxlength]="maxLength"></ion-textarea>
    <button item-end ion-button (click)="sendComment()" [disabled]="!comment || comment.length<1 || comment.length>98">发送</button>
  </ion-item>
</ion-footer>
