<!-- Generated template for the ImgShowComponent component -->
<div>
  <div class="single-img" *ngIf="uploadFileDetailDTOList.length==1">
    <div class="img-wrap">
        <img
        [src]="getImageUrl(uploadFileDetailDTOList[0])"
        onerror="this.src='assets/imgs/default-img@3x.png'"
        (click)="viewImages(0)">
    </div>
  </div>
  <ul class="squared" no-padding *ngIf="uploadFileDetailDTOList.length>1">
    <li *ngFor="let img of uploadFileDetailDTOList;let imgIndex = index;">
      <div [style]="generateBackground(img)" (click)="viewImages(imgIndex)">
        <!-- <img [src]="getImageUrl(img)" style="display:none;" onerror="this.src='assets/imgs/default-img@3x.png'"
          (click)="viewImages(imgIndex)"> -->
      </div>
    </li>
  </ul>
</div>
