page-user-baseinfo {
  ion-list.type-list {
    ion-item.item {
      height: rem(54);
      .item-inner {
        padding-left: rem(15);
        padding-right: 0;
        ion-note {
          font-size: rem(12);
          color: #CCCCCC;
          letter-spacing: 0;
          text-align: left;
        }
        h4 {
          font-size: rem(15);
          color: #333333;
          letter-spacing: 0;
        }
        img-loader {
          width: rem(36);
          height: rem(36);
          margin: 0 rem(15);
        }
      }
    }
  }
}
