<ion-header no-border>
  <ion-navbar color="white">
    <ion-title text-center>{{title}}</ion-title>
    <ion-buttons right>
      <button ion-button (click)="save()" [disabled]="value&&value.length>maxLength">
        完成
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding (click)="focus(textarea)">
  <form [formGroup]="selfForm">
    <ion-list no-lines>
      <ion-item>
        <ion-label *ngIf="!selfForm.hasError('maxlength', 'content')">{{selfForm.controls['content'].value ? selfForm.controls['content'].value.length : 0}}</ion-label>
        <ion-label class="error" *ngIf="selfForm.hasError('maxlength', 'content')">超出{{selfForm.controls['content'].value.length-maxLength}}字</ion-label>
        <ion-textarea autosize (keyup.enter)="onEnter($event)" #textarea formControlName="content" [placeholder]="title+'...'" [(ngModel)]="value"></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
