page-me-update-zs {
  ion-navbar {
    .toolbar-background {
      background: #fff;
    }
    .toolbar-title, ion-icon {
      font-size: rem(17);
      font-weight: bold;
      color: #333333;
      letter-spacing: 0;
      text-align: center;
    }
    .bar-button {
      font-size: rem(17)!important;
      color: #545454;
      letter-spacing: 0;
    }
  }
  form {
    position: relative;
    ion-textarea {
      overflow: auto!important;
      textarea {
        margin: 0!important;
        width: 100%!important;
        max-height: rem(200);
      }
      .input-cover {
        display: none;
      }
    }
    ion-label {
      position: absolute;
      bottom: rem(-12);
      right: 0;
      margin: 0!important;
    }
  }
}
