<ion-header no-border>

  <ion-navbar color="white">
    <ion-title>每周一励</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goDailySearch()">
        <ion-icon class="szom" name="md-sousuo"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="dailyOneList" no-lines>
    <ion-item *ngIf="canCreate()">
      <ion-note item-start>{{week.index}}</ion-note>
      <div class="text" (click)="goDailyCreate()">本周完成最满意的一件事...</div>
      <div>
        <span>{{week.week.firstDate | date:'yyyy.MM.dd'}}-{{week.week.lastDate | date:'yyyy.MM.dd'}}</span>
      </div>
    </ion-item>
    <ion-item *ngFor="let log of dailyOneList;" (click)="goDailyShow(log)" tappable>
      <ion-note item-start>{{log.weekNums}}</ion-note>
      <div class="content">
        <h3>{{log.content}}</h3>
        <img *ngIf="log.uploadFileDetailDTOList.length" [src]="getImageUrl(log.uploadFileDetailDTOList[0])">
      </div>
      <div>
        <span>{{log.startDate | date:'yyyy.MM.dd'}}-{{log.endDate | date:'yyyy.MM.dd'}}</span>
        <span class="icons">
          <ion-icon class="szom" name="md-dianzanmoren"></ion-icon> {{log.listStLike.length}}
          <ion-icon class="szom" name="md-xiaoxi"></ion-icon> {{log.listStComment.length}}
        </span>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="more($event)">
    <ion-infinite-scroll-content loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
