<!--
  Generated template for the DailyOnePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="white">
    <ion-title>每周一励</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goDailySearch()">
        <ion-icon class="szom" name="md-sousuo"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="dailyOneList" no-lines>
    <ion-item>
      <div class="body-box">
        <div class="date-box"></div>
        <div class="context-box">
          <div class="text-area" (click)="goDailyCreate()">本周完成最满意的一件事...</div>
          <p float-left>{{nowTime}}</p>
        </div>
      </div>
    </ion-item>
    <ion-item *ngFor="let log of dailyOneList;" (click)="goDailyShow()" tappable>
      <div class="body-box">
        <div class="date-box">{{log.dailyId}}</div>
        <div class="context-box">
          <h3>{{log.title}}</h3>

          <div class="action-box">
            <ion-note>
              <span>{{log.startTime}}</span>
              <span style="margin:0 5px;">-</span>
              <span>{{log.endTime}}</span>
            </ion-note>
            <div>
              <ion-note>
                <ion-icon class="szom" name="md-dianzanmoren" float-left></ion-icon>
                <p float-left>{{log.likeCount}}</p>
              </ion-note>
              <ion-note>
                <ion-icon class="szom" name="md-xiaoxi" float-left></ion-icon>
                <p float-left>{{log.commentCount}}</p>
              </ion-note>
            </div>
          </div>

        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>