page-daily-one {
  .scroll-content{
    background-color: #fafafa;
  }

  .noDailyList{
    position: relative;
    text-align: center;
    margin-top: rem(100);
    img{
      display: block;
      width: rem(88);
      height: rem(88);
      position: relative;
      left: 50%;
      margin-left: rem(-44);
    }
    p{
      font-size: rem(15);
      color: #999999;
    }
  }
  .daily-list {
    .quaterWeek{
      padding-left: rem(15);
      background-color: #fafafa;
      font-size: rem(12);
      color: #999999;
      height: rem(25);
      line-height: rem(26);
    }
    .item {
      align-items: flex-start;
      padding: rem(18) rem(15);
      &:not(last-of-type){
        @include border-b-1px(color($colors,boderColor));
      }
      &.addItemInput{
        @include border-none;
        .oneInput{
          flex: 1;
          padding-left: rem(20);
          margin-right: rem(20);
        }
      }
      ion-note{
        margin: 0;
        width: rem(26);
        height: rem(26);
        line-height: rem(26);
        text-align: center;
        background: #666666;
        color: #fff !important;
        &.now-daily{
          background: #4D74EB;
        }
      }
      .item-inner {
        ion-label{
          margin: 0;
          div {
            &.text {
              background: #F4F4F4;
              border-radius: 1px;
              padding: rem(9) rem(7);
              height: rem(64);
              font-size: rem(15);
              color: #AFAFAF;
              letter-spacing: rem(-0.15);
              line-height: rem(16);
            }
            span {
              font-size: rem(13);
              color: #AFAFAF;
              letter-spacing: rem(-0.08);
              line-height: rem(15);
            }
          }
        }
      }
      .bottom{
        padding-left: 0 !important;
      }
      .oneThreeTen{
        padding-left: rem(20);
      }
    }
  }

}

