page-workspace {
    .toolbar{
      padding-top: rem(25);
      .toolbar-background {
        background: #fff;
      }
    }

    .my-info{
      margin: rem(14) rem(15);
      .item {
        height: rem(120);
        padding: rem(20) rem(16);
        background: linear-gradient(to right, #3555DE, #628FF7)!important;
        box-shadow: 0 rem(4) rem(16) 0 rgba(48,138,255,0.19);
        .item-inner {
          padding-right: 0!important;
        }
        .label{
          margin: 0;
          .name{
            display: flex;
            align-items: center;
            position: relative;
            height: rem(30);
            line-height: rem(31.5);
            font-size: rem(22);
            color: #FFFFFF;
            letter-spacing: -0.77px;
            margin: 0;
            ion-note {
              position: relative;
              height: rem(21);
              width: rem(50);
              line-height: rem(23);
              font-size: rem(12);
              margin: 0 rem(14);
              background: #11cebd;
              color: #fff;
              padding: 0 rem(8);
              ion-icon {
                font-size: rem(14);
                padding: 0 rem(5) 0 0;
              }
              &.not-sign {
                padding-left: rem(20);
                &:after {
                  position: absolute;
                  content: '';
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                }
                img {
                  position: absolute;
                  top: rem(6);
                  left: rem(7);
                  width: rem(9);
                  height: auto;
                }
              }
              &.has-sign {
                text-align: center;
                background: #7e98ee;
              }
            }
          }
          .desc{
              font-size: rem(12);
              color: #FFFFFF;
              letter-spacing: -0.49px;
              margin: rem(4) 0;
              position: relative;
              display: flex;
              align-items: center;
              .desc-text {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: rem(184);
              }
              .desc-icon {
                height: rem(4);
                border-top: rem(4) solid transparent;
                border-left: rem(5) solid #fff;
                border-bottom: rem(4) solid transparent;
                margin-left: rem(6);
              }
          }
        }
        ion-avatar {
          margin: 0!important;
          background: #fff;
          border-radius: 50%;
          border: rem(1) solid #fff;
          width: rem(60);
          height: rem(60);
          overflow: hidden;
          img {
            width: rem(60);
            height: auto;
          }
        }
      }
      .bz-info {
        h2 {
          display: -webkit-box!important;
          height: auto!important;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
        }
      }
    }

    .gzt-main {
      padding: rem(5) rem(15);
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      &.col3 .gzt-item {
        width: 33.33%;
        &:nth-child(3n) {
          // border-right: 0;
          @include border-r-1px(transparent);
        }
        &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3) {
          // border-bottom: 0;
          @include border-b-1px(transparent);
        }
      }
      &.col2 .gzt-item {
        width: 50%;
        &:nth-child(2n) {
          // border-right: 0;
          @include border-r-1px(transparent);
        }
        &:nth-last-child(1), &:nth-last-child(2) {
          // border-bottom: 0;
          @include border-b-1px(transparent);
        }
      }
      .gzt-item {
        position: relative;
        float:left;
        @include border-r-1px(color($colors,boderColor));
        @include border-b-1px(color($colors,boderColor));
        // border-right: 0.5px solid #F0F0F0;
        // border-bottom: 0.5px solid #F0F0F0;
        text-align: center;
        // display: grid;
        height: rem(119);
        overflow: hidden;
        ion-icon {
          font-size: rem(30);
        }
        .img-wrap{
          height: rem(30);
          line-height: rem(30);
          text-align: center;
          margin-top: rem(28);
          overflow: hidden;
          img{
            width: rem(30);
            height: auto;
          }
        }
        p {
          font-size: 15px;
          color: #333333;
          margin: rem(10) 0 0;
        }
        // &:after {
        //   position: absolute;
        //   content: '';
        //   top: 0;
        //   bottom: 0;
        //   left: 0;
        //   right: 0;
        // }
      }
    }

    .menu-divice {
      font-size: rem(12);
      color: #666666;
      letter-spacing: rem(-0.42);
      line-height: rem(12);
      padding: rem(6) rem(15);
      background: #fafafa;
    }

}
