page-addresslist-other {
  .scroll-content {
    // margin-top: rem(62)!important;
    background: #fafafa;
  }


  .divider{
    font-size: rem(12);
    color: #666666;
    letter-spacing: rem(-0.42);
    line-height: rem(12);
    padding: rem(6) rem(15);
  }
  .divider{
    font-size: rem(12);
    color: #666666;
    letter-spacing: rem(-0.42);
    line-height: rem(12);
    padding: rem(6) rem(15);
  }
  .type-list {
    margin:0;
    &.type-list-person{
      .item .item-inner .label h2{
        padding-right: 0;
      }
    }
    &.margin-top{
      margin-top: rem(4);
    }
    .item {
      min-height: rem(44);
      padding-left: rem(15);
      background: #FFFFFF;
      ion-avatar{
        background-color: #f0f0f0;
        margin: rem(15) rem(10) rem(15) 0!important;
        width: rem(50);
        height: rem(50);
        margin-right:rem(15);
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
      }
      .item-inner {
        padding-right: rem(15);
        @include border-b-1px(color($colors,boderColor));
        // border-bottom: .5px solid color($colors,boderColor);
        .label {
          margin: 0;
          h2 {
            font-size: rem(15);
            color: #333333;
            letter-spacing: rem(0.52);
            line-height: rem(21);
            // font-weight: bold;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-right: rem(50);
          }
          ion-note {
            opacity: 0.99;
            font-size: rem(12);
            color: #999999;
            letter-spacing: rem(-0.42);
            line-height: rem(17);
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
          }
        }
        ion-icon.szom {
          position: absolute;
          right: rem(15);
          font-size: rem(12);
          margin: 0;
          padding: 0;
          color: #D9D9D9;
        }
      }
    }
  }
}
