page-dynamic-search {
  .scroll-content {
    background: #fafafa;
  }

  .setDiv{
    height: calc(100% - 48px);
  }
  .numWidth{
    display: inline-block !important;
    width: rem(29) !important;
  }

  ion-content{
    overflow: hidden;

    // 搜索框部分
    .conditions{
      z-index: 10;
      position: relative;
      height: rem(38);
      line-height: rem(38);
      background: #FFF;
      color: #AFAFAF;
      position: relative;
      margin-bottom: rem(5);
      .select-btn{
        position: relative;
        padding: 0 rem(15);
        z-index: 3;
        .filter-icon{
          width: rem(18);
          vertical-align: middle
        }
        span{
          white-space: nowrap;
          padding-right: rem(5);
        }
        span.title{
          padding: 0 rem(8);
        }
        .color-blue{
          color: #4D74EB;
        }
        .szom{
          line-height: rem(38);
        }
      }
      .select-time{
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        color: #000;
        z-index: 3;

        .date-select{
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: space-around;
          // height: rem(44);
          background-color: #fff;
          border-top: .5px solid color($colors,boderColor);
          position: relative;
          padding-right: rem(10);
          .title{
            padding-left: rem(10);
          }
          ion-datetime{
            height: 100%;
            background-color: transparent;
            width: 70%;
            z-index: 2;
            button{
              display: none;
            }
            .datetime-text{
              display: flex;
              align-items: center;
              justify-content: flex-end;
            }
          }
          ion-icon{
            color: #AFAFAF;
          }
        }

        .btn{
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            padding: rem(10) rem(15);
            button{
                border-radius: rem(2);
                width: rem(160);
                height: rem(28);
                font-size: rem(14);
                box-shadow: none;
                margin: 0;
            }
        }
      }
    }

    .shade{
      position: fixed;
      top: rem(91);
      bottom:0;
      opacity: 0.5;
      background: #000000;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    // 列表部分
    .daily-list {
      margin: 0;
      overflow: auto;
      position: relative;
      background: #fff;
      &.listDiv{
        height: calc(100% - 48px);
      }
      ion-item{
        background-color: transparent;
        box-shadow: 0 1px 1px #cecece;
      }
      .item{
        min-height: auto;
        box-shadow:none;

        .item-inner{
          padding: rem(16) rem(15);
          min-height: auto;
          border-bottom: .5px solid #f9f9f9;
        }
        .label{margin: 0;}
        ion-thumbnail{
          margin: 0 0 0 rem(22);
          width: rem(68);
          height: rem(68);
          min-width: auto;
          min-height: auto;

          img{
            width: rem(68);
            height: rem(68);
          }
        }

        h4{
          font-size: rem(15);
          font-family: PingFangSC-Medium;
          color: #333;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          margin: 0 0 rem(15) 0;
        }
        .other{
          color: #AFAFAF;
          font-size: 0;

          ion-note{
            height: rem(15);
            font-size: rem(13);
            color: #AFAFAF;
            letter-spacing: -0.08px;
            text-align: left;
            line-height: rem(15);

            &:first-child{
              margin-right: rem(16);
            }
            &:nth-child(2){
              margin-right: rem(12);
            }
            ion-icon {
              font-size: rem(13);
            }
          }
        }
      }
    }
  }
  .no-more-tip{
    padding: 0 rem(15);
    background: #fafafa;
    height: rem(50);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cccccc;
    font-size: rem(15);
    span{
      height: rem(1);
      background: #dddddd;
      flex-grow: 1;
      margin: 0 rem(10);
    }
  }

}
