page-like-list {
  .scroll-content {
    background: #fafafa;
  }

  .divider {
    font-size: rem(12);
    color: #666666;
    letter-spacing: rem(-0.42);
    line-height: rem(12);
    padding: rem(6) rem(15);
  }
  .type-list {
    margin:0;
    .item {
      width: rem(360);
      height: rem(75);
      background: #FFFFFF;
      padding-left: rem(15);
      ion-avatar{
        background-color: #f0f0f0;
        margin: 0!important;
        width: rem(50);
        height: rem(50);
        min-width: rem(50);
        min-height: rem(50);
        img {
          width: 100%;
          height: auto;
        }
      }
      .item-inner {
        padding-right: rem(15);
        @include border-b-1px(color($colors,boderColor));
        // border-bottom: .5px solid color($colors,boderColor);
        margin-left: rem(10)!important;
        ion-label.label {
          margin: 0;
          h2 {
            font-size: rem(15);
            color: #333333;
            letter-spacing: rem(0.52);
            // line-height: rem(20);
            // font-weight: bold;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          ion-note {
            opacity: 0.99;
            font-size: rem(12);
            color: #999999;
            letter-spacing: rem(-0.42);
            line-height: rem(17);
          }
        }
      }
    }
  }

}
