<ion-header no-border>

  <ion-navbar color="white">
    <ion-title text-center>点赞列表</ion-title>
  </ion-navbar>

</ion-header>

<ion-content content-shadow>

  <div class="divider" *ngIf="likerList.listAttention[0]">关注</div>
  <ion-list class="type-list">
    <ion-item *ngFor="let user of likerList.listAttention;let i = index" (click)="goUserInfo(user)">
      <ion-avatar item-start *ngIf="user.userType!='02'">
        <img [src]="userProvider.getHeadImageUrl(user.personId)" onerror="this.src='assets/imgs/user.png'">
      </ion-avatar>
      <ion-avatar item-start *ngIf="user.userType=='02'">
        <img src="assets/imgs/banzi-user.png">
      </ion-avatar>
      <h2>{{user.name}}</h2>
      <ion-note>{{user.dutyName}}</ion-note>
    </ion-item>
  </ion-list>

  <div class="divider" *ngIf="likerList.listMyUnit[0]">本单位</div>
  <ion-list class="type-list">
    <ion-item *ngFor="let user of likerList.listMyUnit;let i = index" (click)="goUserInfo(user)">
      <ion-avatar item-start *ngIf="user.userType!='02'">
        <img [src]="userProvider.getHeadImageUrl(user.personId)" onerror="this.src='assets/imgs/user.png'">
      </ion-avatar>
      <ion-avatar item-start *ngIf="user.userType=='02'">
        <img src="assets/imgs/banzi-user.png">
      </ion-avatar>
      <h2>{{user.name}}</h2>
      <ion-note>{{user.dutyName}}</ion-note>
    </ion-item>
  </ion-list>

  <div class="divider" *ngIf="likerList.listOtherUnit[0]">其他组织</div>
  <ion-list class="type-list">
    <ion-item *ngFor="let user of likerList.listOtherUnit;let i = index" (click)="goUserInfo(user)">
      <ion-avatar item-start *ngIf="user.userType!='02'">
        <img [src]="userProvider.getHeadImageUrl(user.personId)" onerror="this.src='assets/imgs/user.png'">
      </ion-avatar>
      <ion-avatar item-start *ngIf="user.userType=='02'">
        <img src="assets/imgs/banzi-user.png">
      </ion-avatar>
      <h2>{{user.name}}</h2>
      <ion-note>{{user.dutyName}}</ion-note>
    </ion-item>
  </ion-list>

</ion-content>
