page-like-list {
    ion-item{
        h2{
            margin: 0 !important;
        }

    }
    .item p{
        font-size: rem(13) !important;
        margin-top: rem(5);
        color: #999999 !important;
    }
    ion-item-group{
        ion-item-divider{
            height: 30px;
            color: #999!important;
        }
    }
    .item ion-thumbnail{
        min-width: 50px;
        min-height: 50px;

        img{
            width: 50px;
            height: 50px;
        }
    }
    .item ion-thumbnail[item-start]{
        margin-left: rem(16) !important;
        margin-right: rem(12);
    }
    .back-button-icon{
        font-size: rem(18);
        color: #545454;
    }
    ion-item-group .item-ios:last-child .item-inner{
        border-bottom: 1px solid #f3f2f2;
    }
    .item-divider{
        font-size: rem(12);
        color: #666666;
        padding-left: rem(16);
        background-color: #fafafa;
        border: none;
    }
    .item-block{
        min-height: 0;
        height: rem(74);
    }
    .item h2{
        font-size: rem(15);
        color: #333333;
        font-weight: bold;
    }

    ion-item-group .item:last-child .item-inner{
        border-bottom: 1px solid #f3f3f3;
    }
}
