image-picker {
  ul.squared {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    > li {
      float: left;
      width: 32%;
      text-align: center;
      padding-top: 31%;
      margin-left: 1%;
      margin-top: 1%;
      position: relative;
      > div{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        > ion-icon.szom {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
        }
      }
    }
  }
  // ul.squared>li>div>span{
  //   display: inline-block;
  //   margin-top: 50%;
  //   -webkit-transform: translateY(-50%);
  //   transform: translateY(-50%);
  // }
}
