page-bz-info-user-update-work {
  .scroll-content{
    padding: 0 rem(15);
  }
  .item {
    .item-inner{
      padding-right: 0!important;
    }
    .label {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0!important;
      font-size: rem(14);
      &.error {
        color: red!important;
      }
    }
    textarea {
      max-height: rem(100);
      &.text-input{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }
  }
}
