<ion-header no-border>
  <ion-navbar color="white">
    <ion-title>分工详情</ion-title>
    <ion-buttons right (click)="update()">
      <button ion-button clear color="primary" (click)="update()" [disabled]="fGongForm.invalid || fGongForm.controls['content'].value.trim()===''">完成</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <form [formGroup]="fGongForm">
      <ion-item>
        <ion-label *ngIf="!fGongForm.hasError('maxlength', 'content')">{{fGongForm.controls['content'].value.length}}</ion-label>
        <ion-label class="error" *ngIf="fGongForm.hasError('maxlength', 'content')">超出{{fGongForm.controls['content'].value.length-maxLength}}字</ion-label>
        <ion-textarea autosize formControlName="content" name="content" placeholder="成员分工"></ion-textarea>
      </ion-item>
  </form>
  <span class="error-info" [hidden]="!fGongForm.hasError('emoji', 'content')">不支持表情</span>
</ion-content>
