// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon{
  // font-family:"szom" !important;
  min-width: auto;
}

.tab-button,.bar-buttons,.back-button{
  ion-icon{
    font-family:"szom" !important;
  }
}


// 根元素大小使用 vw 单位
$vm_fontsize: 12; // 是$vm_design 值得十分之一
$vm_design: 360; // 根据需要替换成设计稿的值,比如设计稿给你的宽度是360px,
html {
  font-size: ($vm_fontsize / $vm_design) * 100vw; // 同时，通过Media Queries 限制根元素最大最小值
  // @media screen and (max-width: 320px) {
  //   font-size: 32px;
  // }
  // @media screen and (min-width: 540px) {
  //   font-size: 54px;
  // }
}
// body 也增加最大最小宽度限制，避免默认100%宽度的 block 元素跟随 body 而过大过小
// body {
//   max-width: 540px;
//   min-width: 320px;
// }

.toolbar{
  min-height: auto;
  padding: rem(30) 0 rem(8);
  // padding: 0 0 rem(8);
  margin: 0;


  &.toolbar-ios-white,&.toolbar-md-white{
    .toolbar-title{
      color: #333;
    }
    .back-button{
      ion-icon{
        color:color($colors,mainBlueColor);
      }
    }
    .bar-buttons{
      .bar-button{
        ion-icon{
          color:color($colors,mainBlueColor);
        }
      }
    }
  }

  .toolbar-title{
    height: rem(32);
    line-height: rem(32);
    font-size: rem(17);
    letter-spacing: 0;
    font-weight: bold;
    // font-family: PingFangSC-Medium;
    text-align: center;
  }

  .back-button{
    position: absolute;
    top: rem(30);
    left: rem(10);
    z-index: 3;
    margin: 0;
    padding: 0;
    min-width: auto;
    height: rem(32);
    line-height: rem(32);

    ion-icon{
      font-size: rem(22);
      padding: 0;
      color:#fff;
    }
  }

  .bar-buttons{
    position: absolute;
    top: rem(30);
    right: rem(15);
    margin: 0;
    font-size: 0;
    z-index: 3;
    .bar-button{
      height: rem(32);
      line-height: rem(32);
      margin: 0;
      padding: 0;

      ion-icon{
        color:#fff;
        font-size: rem(20);
      }
      &:not(first-child){
        margin-left: rem(14);
      }
    }
  }

}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
  border-bottom-color: #488aff;
  box-shadow: inset 0 -1px 0 0 #488aff;
}

.searchbar{
  width: 100%;
  background: #fff;
  padding: rem(4) rem(15) rem(6) rem(15);
  min-height: auto;
  margin-bottom: rem(4);
  .searchbar-input-container{
      display: flex;
      align-items: center;
  }
  .searchbar-input{
      height: rem(32);
      line-height: normal;
      background-color: #F4F4F4;
      border-radius: .2rem;
      color: #333;
      font-size: rem(14);
      padding-left: rem(30);
      box-shadow: none;
      background-color: #F4F4F4;
      border-radius: rem(2);
  }
  .searchbar-search-icon{
      top: rem(5);
      left: rem(6);
  }

}

.item{
  padding: 0;
  margin: 0;
  min-height: auto;
  .item-inner{
    padding: 0;
    margin: 0;
  }
  ion-icon{
    min-height: auto;
  }
}

.highlight{
  color:#4D74EB;
  font-weight:bold;
}

.loading-new{
  .loading-wrapper{
      box-shadow: none;
      background: #fff;
  }
}
.szom-search {
  position: relative;
  flex-grow: 1;
  ion-icon.szom {
    position: absolute;
    z-index: 1;
    top: rem(8);
    color: #AFAFAF;
    &[name="md-sousuo"] {
      left: rem(10);
    }
    &[name="md-guanbi"] {
      right: rem(10);
    }
  }
  ion-searchbar.searchbar {
    padding: 0;
    margin-bottom: 0;
    .searchbar-search-icon, .searchbar-clear-icon {
      display: none;
    }
  }
}
.szom-search+.cancel-btn {
  height: rem(32);
  line-height: rem(32);
  margin: 0;
}


* {
  font-family: '苹方', 'San Francisco', 'Heiti SC', 'Helvetica', '微软雅黑';
}
pre {
  white-space:pre-wrap;
  word-wrap:break-word;
  font-family: '苹方', 'San Francisco', 'Heiti SC', 'Helvetica', '微软雅黑';
}
ul{
  text-decoration: none;
  list-style-type: none;
}
ul,li {
  margin: 0;
  padding: 0;
}
ion-action-sheet {
  .action-sheet-title {
    font-size: rem(13)!important;
    color: #999999!important;
    text-align: center!important;
  }
  button {
    .button-inner {
      justify-content: center!important;
      font-size: rem(16)!important;
      color: #F5222D!important;
    }
  }
}
ion-popover.backdrop ion-backdrop {
  opacity: 0.6;
}
ion-popover.auto .popover-content {
  top: 0!important;
  bottom: 0!important;
  left: 0!important;
  right: 0!important;
  margin: auto;
}
ion-popover.short .popover-content {
  height: 200px;
}
ion-popover.height-300 .popover-content {
  height: 300px;
}
ion-popover.tall .popover-content {
  height: 400px;
}
ion-popover.mini .popover-arrow{
  position: absolute;
  display: block;
  overflow: hidden;
  width: 20px;
  height: 10px;
  top: rem(52);
  right: rem(15);
}
ion-popover.mini .popover-arrow:after {
  left: 3px;
  top: 3px;
  border-radius: 3px;
  position: absolute;
  z-index: 10;
  width: 14px;
  height: 14px;
  background-color: #000;
  opacity: 0.8;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
ion-popover.mini .popover-content {
  width: auto;
  background-color: #000;
  opacity: 0.8;
  top: rem(60)!important;
}
@media (max-width: 760px) {
  ion-popover.small .popover-content {
    width: 80%;
    left: 10%!important;
  }
  ion-popover.large .popover-content {
    width: 90%;
    left: 5%!important;
  }
}
@media (min-width: 760px) and (max-width: 1440px) {
  ion-popover.small .popover-content {
    width: 50%;
    left: 25%!important;
  }
  ion-popover.large .popover-content {
    width: 80%;
    left: 10%!important;
  }
}
ion-toast.mini {
  .toast-wrapper {
    background: initial;
    text-align: center;
    .toast-message {
      padding: 0;
      max-width: rem(300);
      margin: 0 auto;
      background: #333;
      flex: initial;
      padding: rem(2) rem(10);
      border-radius: rem(3);
      font-size: rem(12);
    }
  }
}

.alert-wrapper {
  border-radius: rem(6);
  .alert-head {
    padding: 0;
  }
  .alert-message {
    padding: rem(30) 0;
    font-size: rem(17);
    color: #333333;
    text-align: center;
    border-bottom: rem(1) solid #F0F0F0;
  }
  .alert-button-group {
    &:after {
      content: '';
      position: absolute;
      bottom: rem(10);
      width: 0;
      height: rem(30);
      border-left: rem(1) solid #F0F0F0;
    }
    padding: 0;
    justify-content: center;
    .alert-button {
      width: 50%;
      margin: 0;
      padding: rem(13) 0;
      font-size: rem(17);
      .button-inner {
        justify-content: center;
      }
      &:first-child {
        color: #666666;
      }
    }
  }
}

.picker-wrapper{
  .picker-columns{
    .picker-col{
      flex: 0 0 40%;
      width: 40%;
    }
    // .picker-col{

    //   .picker-opts{
    //     top: 30%;
    //     button{
    //       height: 33%!important;
    //     }
    //   }
    // }
  }
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
}

