<ion-header no-border>

  <ion-navbar color="white">
    <ion-title text-center>每周{{ count | digitalChineseConversion }}励详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="dailyOne" class="daily-detail-main">
    <!-- <h2 class="title">《{{dailyOne.title}}》</h2> -->
    <pre class="content">{{dailyOne.content}}</pre>
    <img-show [uploadFileDetailDTOList]="dailyOne.uploadFileDetailDTOList"></img-show>
    <div class="other">
      <ion-note class="pubTime">{{dailyOne.publishTime | date:'yyyy-MM-dd HH:mm:ss'}}</ion-note>
      <button class="delete" *ngIf="dailyOne.isShowDelete" ion-button clear (click)="popover()">删除</button>
      <button class="dianzan" *ngIf="!dailyOne.hasMeLike" ion-button clear float-right (click)="sendLike()">
        <ion-icon name="md-dianzanmoren" class="szom"></ion-icon>
      </button>
      <button class="dianzan dianji" *ngIf="dailyOne.hasMeLike" ion-button clear float-right>
        <ion-icon name="md-dianzandianji" class="szom"></ion-icon>
      </button>
    </div>
    <div class="line" [hidden]="!dailyOne.listStLike.length && !dailyOne.listStComment.length"></div>
    <ion-row class="like-wrap" *ngIf="dailyOne.listStLike.length" (click)="goLikeList()">
      <ion-icon name="md-dianzandianji" class="szom"></ion-icon>
      <ion-note class="like-names" *ngIf="dailyOne.listStLike.length<=13">
        <span *ngFor="let user of dailyOne.listStLike.slice(0, 13);let i=index;" class="zanName">
          <a class="zan-name">{{user.operatorName}}</a><span class="zan-name" *ngIf="i<12&&i<dailyOne.listStLike.length-1">、</span>
        </span>
      </ion-note>
      <ion-note class="like-names" *ngIf="dailyOne.listStLike.length>13">
        <span *ngFor="let user of dailyOne.listStLike.slice(0, 12);let i=index;" class="zanName">
          <a class="zan-name">{{user.operatorName}}</a><span class="zan-name" *ngIf="i<11&&i<dailyOne.listStLike.length-1">、</span>
        </span>
        <span>等{{dailyOne.listStLike.length}}人觉得很赞</span>
      </ion-note>
    </ion-row>
    <ion-list class="comment-list">
      <p *ngFor="let comment of dailyOne.listStComment" class="comment-item" (click)="replyComment(comment.stCommentId,comment.operatorName)">
        <a class="commentPeople">{{comment.operatorName}}</a><span *ngIf="comment.commentObjectName"> 回复： <a class="commentPeople">{{comment.commentObjectName}}</a></span> :
        <ion-note class="commentCon">{{comment.content}}</ion-note>
      </p>
    </ion-list>
  </div>
</ion-content>

<ion-footer no-border #footer>
  <ion-item class="publish-comment" no-lines>
    <ion-textarea rows=1 autosize placeholder="{{placeholder}}" [(ngModel)]="comment"></ion-textarea>
    <button item-end ion-button (click)="sendComment()">发送</button>
  </ion-item>
</ion-footer>
