<ion-content content-shadow>
  <ion-refresher (ionRefresh)="loadDynamicList($event)" *ngIf="hasRefresher" closeDuration="1000" pullMin="50" pullMax="400" snapbackDuration="500">
    <ion-refresher-content pullingIcon="none" pullingText="下拉刷新" refreshingSpinner="crescent" refreshingText=""></ion-refresher-content>
  </ion-refresher>
  <div class="noDailyList" *ngIf="!isLoading && !dynamicList.length">
    <img src="assets/imgs/nolog.png">
    <p>没有对应日志</p>
  </div>
  <div style="text-align:center;" *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <ion-list *ngIf="dynamicList.length>0" class="card-list">
    <ion-card *ngFor="let dynamic of dynamicList;let i=index;">
      <ion-card-header>
        <ion-item no-padding>
          <ion-avatar item-start *ngIf="dynamic.soaPersonInfoDTO.userType!='02'">
            <img *ngIf="dynamic.soaPersonInfoDTO.personId" [src]="getHeadImageUrl(dynamic.soaPersonInfoDTO.personId)" onerror="this.src='assets/imgs/user.png'"
              (click)="onClickUser(dynamic.soaPersonInfoDTO.userCode,dynamic.soaPersonInfoDTO.userType)">
          </ion-avatar>
          <ion-avatar item-start *ngIf="dynamic.soaPersonInfoDTO.userType=='02'">
            <img src="assets/imgs/banzi-user.png">
          </ion-avatar>
          <h3><span (click)="onClickUser(dynamic.soaPersonInfoDTO.userCode,dynamic.soaPersonInfoDTO.userType)">{{dynamic.soaPersonInfoDTO.name}}</span></h3>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <div class="content-wrap" [hidden]="dynamic.showMore">
          <p class="content-text showEllipsis" #content>
            <span class="tag" *ngIf="dynamic.dataSource==2">周</span>
            <span class="tag" *ngIf="dynamic.dataSource==3">季</span>
            <span class="tag" *ngIf="dynamic.dataSource==4">年</span>
            {{dynamic.content}}
          </p>
          <p class="more" [hidden]="showMoreBtn(content)" (click)="dynamic.showMore=true">更多</p>
        </div>
        <div class="content-wrap" [hidden]="!dynamic.showMore">
          <p class="content-text showAll">
            <span class="tag" *ngIf="dynamic.dataSource==2">周</span>
            <span class="tag" *ngIf="dynamic.dataSource==3">季</span>
            <span class="tag" *ngIf="dynamic.dataSource==4">年</span>
            {{dynamic.content}}
          </p>
          <p class="more" (click)="dynamic.showMore=false">收起</p>
        </div>
        <img-show [uploadFileDetailDTOList]="dynamic.uploadFileDetailDTOList"></img-show>
        <div class="other">
          <ion-note class="pubTime">{{ dynamic.publishTime | howLongAgo }}</ion-note>
          <ion-note class="handle" float-right>
            <button class="xiaoxi" (click)="onClickCommentIcon(dynamic);$event.stopPropagation();">
              <img src="assets/imgs/pinglun.png" />
            </button>
            <button #dianzanmoren class="dianzan" *ngIf="!dynamic.hasMeLike" (click)="onClickLikeIcon(dynamic);$event.stopPropagation();">
              <img [class.scale-large]="dynamic.hasClicked" src="assets/imgs/dianzanmoren.png" />
            </button>
            <button #dianzandianji class="dianzan dianji" *ngIf="dynamic.hasMeLike" (click)="onClickCancelLikeIcon(dynamic);$event.stopPropagation();">
              <img [class.scale-small]="dynamic.hasClicked" src="assets/imgs/dianzan.png" />
            </button>
          </ion-note>
        </div>
        <ion-row *ngIf="dynamic.sbLikeList.length" (click)="onClickLikeList(dynamic)">
          <ion-col col-1 class="zanList-wrap">
            <img class="zanList" src="assets/imgs/dianzan-num@3x.png" />
          </ion-col>
          <ion-col class="zan" *ngIf="dynamic.sbLikeList.length<=8">
            <span *ngFor="let user of dynamic.sbLikeList.slice(0, 7);let li=index;">
              <a class="zanName">{{user.likeUserName}}</a><span
                class="zanName" *ngIf="li<8&&li<dynamic.sbLikeList.length-1">、</span>
            </span>
          </ion-col>
          <ion-col class="zan" *ngIf="dynamic.sbLikeList.length>8">
            <span *ngFor="let user of dynamic.sbLikeList.slice(0, 7);let li=index;">
              <a class="zanName">{{user.likeUserName}}</a><span
                class="zanName" *ngIf="li<7&&li<dynamic.sbLikeList.length-1">、</span>
            </span>
            <span>&nbsp;&nbsp;&nbsp;等{{dynamic.sbLikeList.length}}人觉得很赞</span>
          </ion-col>
        </ion-row>
        <div class="line" *ngIf="dynamic.sbLikeList&&dynamic.sbLikeList.length&&dynamic.sbCommentList&&dynamic.sbCommentList.length"></div>
        <ion-list class="comList" *ngIf="dynamic.sbCommentList&&dynamic.sbCommentList.length">
          <p *ngFor="let comment of dynamic.sbCommentList" (click)="onClickComment(dynamic,comment);$event.stopPropagation();">
            <a (click)="onClickUser(comment.userCode,comment.commentUserType);$event.stopPropagation();">{{comment.commentUserName}}</a>
            <span *ngIf="comment.beCommentUserName">回复
              <a (click)="onClickUser(comment.beUserCode,comment.beUserType);$event.stopPropagation();">{{comment.beCommentUserName}}</a>
            </span>:
            <span>{{comment.content}}</span>
          </p>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <div class="no-more-tip" *ngIf="!hasMore && dynamicList.length"><span></span>没有更多内容<span></span></div>
  <ion-infinite-scroll (ionInfinite)="moreDynamicList($event)" *ngIf="!isLoading && hasInfinite && hasMore">
    <ion-infinite-scroll-content loadingText=""></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
