<ion-content (ionScroll)="commentInputHide()">
  <ion-refresher (ionRefresh)="load($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="松开刷新" refreshingSpinner="circles" refreshingText="为您提供最新动态中……"></ion-refresher-content>
  </ion-refresher>
  <ion-list (click)="commentInputHide()">
    <ion-card *ngFor="let dynamic of dynamicList;let i=index;">
      <ion-card-header>
        <ion-item no-padding>
          <ion-avatar item-start>
            <img *ngIf="dynamic.soaPersonInfoDTO.personId" [src]="userProvider.getHeadImageUrl(dynamic.soaPersonInfoDTO.personId)" onerror="this.src='assets/imgs/user.png'"
              (click)="goUserInfo(dynamic.soaPersonInfoDTO.userCode)">
          </ion-avatar>
          <h3><span (click)="goUserInfo(dynamic.soaPersonInfoDTO.userCode)">{{dynamic.soaPersonInfoDTO.name}}</span></h3>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <div class="content-wrap" [hidden]="dynamic.showMore">
          <p class="content showEllipsis" #content>
            <span class="tag" *ngIf="dynamic.dataSource==2">周</span>
            <span class="tag" *ngIf="dynamic.dataSource==3">季</span>
            <span class="tag" *ngIf="dynamic.dataSource==4">年</span>
            {{dynamic.content}}
          </p>
          <p class="more" [hidden]="showMoreBtn(content)" (click)="dynamic.showMore=true">更多</p>
        </div>
        <div class="content-wrap" [hidden]="!dynamic.showMore">
          <p class="content showAll">
            <span class="tag" *ngIf="dynamic.dataSource==2">周</span>
            <span class="tag" *ngIf="dynamic.dataSource==3">季</span>
            <span class="tag" *ngIf="dynamic.dataSource==4">年</span>
            {{dynamic.content}}
          </p>
          <p class="more" (click)="dynamic.showMore=false">收起</p>
        </div>
        <img-show [uploadFileDetailDTOList]="dynamic.uploadFileDetailDTOList"></img-show>
        <div class="other">
          <ion-note class="pubTime">{{ dynamic.publishTime | howLongAgo }}</ion-note>
          <ion-note class="handle" float-right>
            <button ion-button clear class="xiaoxi" (click)="startComment(dynamic);$event.stopPropagation();">
              <ion-icon class="szom" name="md-xiaoxi"></ion-icon>
            </button>
            <button ion-button clear class="dianzan" *ngIf="!dynamic.hasMeLike" (click)="sendLike(dynamic);$event.stopPropagation();">
              <ion-icon name="md-dianzanmoren" class="szom"></ion-icon>
            </button>
            <button ion-button clear class="dianzan dianji" *ngIf="dynamic.hasMeLike">
              <ion-icon name="md-dianzandianji" class="szom"></ion-icon>
            </button>
          </ion-note>
        </div>
        <div [hidden]="!dynamic.sbLikeList.length && !dynamic.sbCommentList.length" class="line"></div>
        <ion-row *ngIf="dynamic.sbLikeList.length" (click)="goLikeList(dynamic)">
          <ion-col col-1>
            <ion-icon class="szom zanList" name="md-dianzandianji"></ion-icon>
          </ion-col>
          <ion-col class="zan" *ngIf="dynamic.sbLikeList.length<=9">
            <span *ngFor="let user of dynamic.sbLikeList.slice(0, 9);let li=index;">
              <a class="zanName" (click)="goUserInfo(user.userCode);$event.stopPropagation();">{{user.likeUserName}}</a><span
                class="zanName" *ngIf="li<8&&li<dynamic.sbLikeList.length-1">、</span>
            </span>
          </ion-col>
          <ion-col class="zan" *ngIf="dynamic.sbLikeList.length>9">
            <span *ngFor="let user of dynamic.sbLikeList.slice(0, 8);let li=index;">
              <a class="zanName" (click)="goUserInfo(user.userCode);$event.stopPropagation();">{{user.likeUserName}}</a><span
                class="zanName" *ngIf="li<7&&li<dynamic.sbLikeList.length-1">、</span>
            </span>
            <span>等{{dynamic.sbLikeList.length}}人觉得很赞</span>
          </ion-col>
        </ion-row>
        <ion-list class="comList" *ngIf="dynamic.sbCommentList">
          <p *ngFor="let comment of dynamic.sbCommentList" (click)="startReplyComment(dynamic,comment);$event.stopPropagation();">
            <a (click)="goUserInfo(comment.userCode);$event.stopPropagation();" (press)="startReplyComment(dynamic,comment);">{{comment.commentUserName}}</a>
            <span *ngIf="comment.beCommentUserName">回复
              <a (click)="goUserInfo(comment.beUserCode);$event.stopPropagation();">{{comment.beCommentUserName}}</a>
            </span>:
            <span>{{comment.content}}</span>
          </p>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <div class="no-more-tip" *ngIf="!isInfinite">
      <span>没有更多了！...</span>
    </div>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="more($event)" *ngIf="type!='recommend'">
    <ion-infinite-scroll-content loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-item class="publish-comment" no-lines>
  <ion-textarea rows=1 autosize placeholder="{{placeholder}}" [(ngModel)]="commentData" #commentInput (input)="saveComment(commentData)"></ion-textarea>
  <div item-end>
    <button ion-button (click)="sendComment()">发送</button>
  </div>
</ion-item>

