<ion-header>

  <ion-navbar>
    <ion-title text-center>我</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item>
      <ion-thumbnail item-start>
        <img *ngIf="me.personId" [src]="userProvider.getHeadImageUrl(me.personId)" onerror="this.src='assets/imgs/user.png'">
      </ion-thumbnail>
      <h4>{{me.name}}</h4>
      <p>{{me.unitName}} | {{me.dutyName}}</p>

    </ion-item>
    <button ion-item *ngIf="menuProvider.hasMenu('me-help')">
      <i class="szom ion-md-banzhu" style="color: #02BA9E;"></i>
      帮助与反馈
    </button>

    <button ion-item *ngIf="menuProvider.hasMenu('me-account')" (click)="meSafe()">
      <i class="szom ion-md-zhanghuanquan" style="color: #4C6AEF;"></i>
      账户安全
      <ion-icon class="szom" name="you" item-end></ion-icon>
    </button>

    <button ion-item *ngIf="menuProvider.hasMenu('me-setting')">
      <!-- <embed src="../../assets/imgs/me-setting.svg" type="image/svg+xml"/> -->
      <i class="szom ion-md-xitongshezhi" style="color: #5E6999;"></i>
      系统设置
    </button>
  </ion-list>
  <button class="exit" ion-button full (click)="logout()">退出</button>
</ion-content>
