page-me {
  .item-block {
    min-height: initial;
    padding: 0;
    h4 {
      font-size: 16px;
    }
    .note {
      p {
        font-size: rem(12)
      }
    }
  }
  .item-ios ion-avatar img{
    width: rem(50);
    height: rem(50);
  }
  // 头部
  .toolbar{
    padding:rem(24) 0;
  }
  .scroll-content{
    margin-top: rem(50);
  }
  .toolbar-background-ios{
    border-color: transparent!important;
  }
  // 内容
  .item-ios{
    padding: 0 rem(12)!important;
  }
  .label-ios{
    font-size: rem(15);
  }
  .list-ios .item-block .item-inner{
    border-bottom: 0.55px solid #e5e5e5;
  }
  .list-ios .item-block .item-inner:not(:first-child){
    border-bottom:none;
    margin:rem(12) 0;
  }
  .item-block:first-child{
    margin: rem(16) 0 rem(10) 0;
    border-top:none!important;
  }
  .label-ios{
    margin: rem(15) rem(10) rem(12) 0;
  }
  .button-block{
    width: 95%;
    margin:0 2%;
  }
  .content-ios{
    background-color: #efeff4;
  }
  .list-ios > .item-block:last-child{
    border-bottom:none;
  }
}
