page-me-update {
    .toolbar .back-button ion-icon{
        color: #4D74EB;
    }
    .toolbar-background{
        background-color: #ffffff;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none;
    }
    .scroll-content{
        .list{
            .item{
                height: rem(44);
                .label{
                    margin: 0;
                    padding-left: rem(10);

                    display: flex;
                    justify-content: space-between;
                    
                    font-family: PingFangSC-Regular;
                    font-size: rem(16);
                    color: #000000;
                    letter-spacing: 0;
                    text-align: left;
                }
            }
        }

        .p{
            text-align: center;
            font-size: rem(14);
            color: #cccccc;
        }
        p{
            height: rem(10);
            background-color: #fafafa;
            margin: 0;
            width: 100%;
        }

    }
}
