page-me-update {

  .info-content{
    margin-bottom: rem(10);

    .item{
      padding-left: rem(15);

      .item-inner{
        @include border-b-1px(color($colors,boderColor));
        // border-bottom: .5px solid color($colors,boderColor);
        .label{
          margin: 0;
          position: relative;
          h2{
            margin: 0;
            font-size: rem(16);
            color: #333333;
            line-height: rem(44);
          }
        }
      }
      ion-icon{
        margin: 0;
        color: #afafaf;
        font-size: rem(14);
      }
    }
  }
}
