<ion-header no-border>
  <ion-toolbar>
    <div class="input-box">
      <ion-icon class="szom" name="sousuo"></ion-icon>
      <ion-searchbar [(ngModel)]="key" (ionInput)="search()" placeholder="搜索..." #searchEle></ion-searchbar>
      <ion-icon *ngIf="key" class="szom" name="guanbi" (click)="key='';search()"></ion-icon>
    </div>
    <button ion-button (click)="goBack()" clear float-right>取消</button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="divider" *ngIf="todayUserList.length">今天</div>
  <ion-list class="type-list" no-lines>
    <ion-item *ngFor="let user of todayUserList" (click)="goUserInfo(user)">
      <img [src]="userProvider.getHeadImageUrl(user.personId)" onerror="this.src='assets/imgs/user.png'">
      <h2>{{user.name}}</h2>
      <ion-note>{{user.deptName}} | {{user.dutyName}}</ion-note>
      <button *ngIf="user.status=='01'&&user.applyType=='send'" ion-button item-end>等待对方确认</button>
      <button *ngIf="user.status=='01'&&user.applyType=='get'" ion-button item-end>待处理</button>
      <button *ngIf="user.status=='02'" ion-button item-end clear>已添加</button>
      <button *ngIf="user.status=='05'" ion-button item-end clear>已取消</button>
      <button *ngIf="user.status=='03'" ion-button item-end clear>已拒绝</button>
    </ion-item>
  </ion-list>
  <div class="divider" *ngIf="weekUserList.length">一周前</div>
  <ion-list class="type-list" no-lines>
    <ion-item *ngFor="let user of weekUserList" (click)="goUserInfo(user)">
      <img [src]="userProvider.getHeadImageUrl(user.personId)" onerror="this.src='assets/imgs/user.png'">
      <h2>{{user.name}}</h2>
      <ion-note>{{user.deptName}} | {{user.dutyName}}</ion-note>
      <button *ngIf="user.status=='01'&&user.applyType=='send'" ion-button item-end>等待对方确认</button>
      <button *ngIf="user.status=='01'&&user.applyType=='get'" ion-button item-end>待处理</button>
      <button *ngIf="user.status=='02'" ion-button item-end clear>已添加</button>
      <button *ngIf="user.status=='05'" ion-button item-end clear>已取消</button>
      <button *ngIf="user.status=='03'" ion-button item-end clear>已拒绝</button>
    </ion-item>
  </ion-list>
  <div class="divider" *ngIf="monthUserList.length">近三个月</div>
  <ion-list class="type-list" no-lines>
    <ion-item *ngFor="let user of monthUserList" (click)="goUserInfo(user)">
      <img [src]="userProvider.getHeadImageUrl(user.personId)" onerror="this.src='assets/imgs/user.png'">
      <h2>{{user.name}}</h2>
      <ion-note>{{user.deptName}} | {{user.dutyName}}</ion-note>
      <button *ngIf="user.status=='01'" ion-button item-end>待确定</button>
      <button *ngIf="user.status=='02'" ion-button item-end clear>已添加</button>
      <button *ngIf="user.status=='05'" ion-button item-end clear>已取消</button>
      <button *ngIf="user.status=='03'" ion-button item-end clear>已拒绝</button>
    </ion-item>
  </ion-list>
</ion-content>
