<ion-header no-border>

  <ion-navbar color="white">
    <ion-title>{{this.org.orgName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="searcher" *ngIf="canSearch">
    <ion-icon class="szom" name="sousuo"></ion-icon>
    <ion-searchbar (click)="goAddresslistUnitSearch()" placeholder="搜索"></ion-searchbar>
  </div>
  <ion-list no-lines>
    <div *ngFor="let unit of unitList;">
      <button class="unit" ion-item (click)="goAddresslistUnit(unit)">
        {{unit.orgName}}
        <ion-icon item-end class="szom" name="you"></ion-icon>
      </button>
    </div>
  </ion-list>
  <ion-list class="type-list" no-lines>
    <div *ngFor="let key of personKeyList;let i = index;">
      <div class="divider">{{key}}</div>
      <ion-item *ngFor="let user of personValueList[i];" (click)="goUserInfo(user)">
        <img [src]="userProvider.getHeadImageUrl(user.personId)" onerror="this.src='assets/imgs/user.png'">
        <h2>{{user.name}}</h2>
        <ion-note>{{user.deptName}} | {{user.dutyName}}</ion-note>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
