<ion-list>
  <ion-item  *ngFor="let evaluate of zzbmEvaluateLists">
    <h4 class="text">{{evaluate.evaluationTitle}}</h4>
    <p class="subtext" float-left>{{evaluate.evaluationTime}}   来源:{{evaluate.source}}</p>            
    <p class="subtext" float-right>记录人:{{evaluate.evaluatorName}}</p>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item  *ngFor="let evaluate of sjldEvaluateLists">
    <h4 class="text">{{evaluate.evaluationTitle}}</h4>
    <p class="subtext" float-left>{{evaluate.evaluationTime}}   来源:{{evaluate.source}}</p>            
    <p class="subtext" float-right>记录人:{{evaluate.evaluatorName}}</p>
  </ion-item>
</ion-list>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>



