page-sign-date {
  .sign-date-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .sign-date-container {
      width: rem(330);
      background: #fff;
    }
  }
  ion-icon.szom {
    float: right;
    margin: rem(10) rem(10) rem(20) rem(10);
    font-size: rem(12);
  }
  ion-calendar {
    padding: 0;
    .switch-btn {
      font-size: rem(16)!important;
      color: #333333!important;
      letter-spacing: rem(-0.19);
      line-height: 40px!important;
    }
    ion-toolbar {
      height: rem(27)!important;
      min-height: initial!important;
      .toolbar-background {
        background: #FAFAFA;
        border-radius: rem(1);
        height: rem(27)!important;
      }
      .week-title {
        height: rem(27)!important;
        line-height: rem(27);
        padding: 0!important;
        font-size: rem(10);
        color: #AFAFAF;
        text-align: center;
      }
    }
    .days {
      font-size: rem(16);
    }
    ion-calendar-month .primary .days .last-month-day p, ion-calendar-month .primary .days .next-month-day p {
      color: #e2e2e2;
    }
  }
  .impression {
    border-top: .5px solid color($colors,boderColor);
    margin: rem(10) rem(20);
    padding: rem(22) 0;
    overflow: hidden;

    ion-badge {
      &.tag-1:before,&.tag-2:before {
        background: #4D74EB;
      }
      &.tag-3:before ,&.tag-4:before,&.tag-5:before{
        background: #0DB6B6;
      }
      &.tag-6:before {
        background: #C98600;
      }
      &:before {
        content: '';
        display: inline-block;
        width: rem(8.5);
        height: rem(8.5);
        transform: rotate(45deg);
        border-radius: rem(1);
        margin-right: rem(10);
        margin-left: rem(4);
      }
      padding: 0;
      width: 33.33%;
      float: left;
      text-align: left;
      margin-bottom: rem(16);
      border-radius: 0;
      background: initial;
      font-size: rem(14);
      font-weight: normal;
      color: #545454;
    }
  }
  .days-btn small {
    font-size: rem(10);
    line-height: rem(10);
    overflow: initial!important;
  }
  .sign-date-1 p, .sign-date-1 small,
  .sign-date-2 p, .sign-date-2 small {
    color: #4D74EB!important;
  }
  .sign-date-3 p, .sign-date-3 small,
  .sign-date-4 p, .sign-date-4 small,
  .sign-date-5 p, .sign-date-5 small {
    color: #0DB6B6!important;
  }
  .sign-date-6 p, .sign-date-6 small {
    color: #C98600!important;
  }
}
