page-sign-date {
  .impression {
    padding: rem(10);
    background: #fff;
    ion-badge {
      height: rem(40);
      width: 28%;
      border-radius: 1px;
      padding: 0 rem(8);
      line-height: rem(40);
      margin: rem(8) 2%;
      color: #545454;
      background: #F4F4F4;
      border-radius: rem(1);
      font-size: rem(16);
      letter-spacing: 0;
      font-weight: normal;
      span {
        font-size: rem(14);
        color: #AFAFAF;
        text-align: center;
      }
    }
  }
}
