<ion-header>

  <ion-navbar>
    <ion-title>每年十励</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goDailySearch()">
        <ion-icon class="szom" name="md-sousuo"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="dailyTenList" no-lines>
    <ion-item *ngIf="canCreate()">
      <ion-note item-start>{{getCurrentIndex()}}</ion-note>
      <div class="text" (click)="goDailyCreate()">本年完成最满意的一件事...</div>
      <div>
        <span>{{year}}.01.01-{{year}}.12.31</span>
      </div>
    </ion-item>
    <ion-item *ngFor="let log of dailyTenList;" (click)="goDailyShow(log)" tappable>
      <ion-note item-start>{{getIndex(log)}}</ion-note>
      <div class="content">
        <h3>{{log.content}}</h3>
        <img *ngIf="log.uploadFileDetailDTOList.length" [src]="getImageUrl(log.uploadFileDetailDTOList[0])">
      </div>
      <div>
        <span>{{log.startDate | date:'yyyy.MM.dd'}}-{{log.endDate | date:'yyyy.MM.dd'}}</span>
        <span class="icons">
          <ion-icon class="szom" name="md-dianzanmoren"></ion-icon> {{log.listStLike.length}}
          <ion-icon class="szom" name="md-xiaoxi"></ion-icon> {{log.listStComment.length}}
        </span>
      </div>
    </ion-item>
  </ion-list>
  <!-- <ion-list *ngIf="dailyTenList" no-lines>
    <ion-item *ngIf="canCreate()">
      <div class="body-box">
        <div style="background-color: #C9D5F9" class="date-box">{{getCurrentIndex()}}</div>
        <div class="context-box">
          <div class="text-area" (click)="goDailyCreate()">本年完成最满意的一件事...</div>
          <p float-left>{{nowTime}}</p>
        </div>
      </div>
    </ion-item>

    <ion-item *ngFor="let log of dailyTenList;" (click)="goDailyShow(log)">
      <div class="body-box">
        <div class="date-box">{{getIndex(log)}}</div>
        <div class="context-box">
          <div class="content">
            <h3>{{log.title}}</h3>
            <ion-thumbnail class="head">
              <img src="assets/imgs/user.jpg">
            </ion-thumbnail>
          </div>

          <div class="action-box">
            <ion-note>
              <span>{{log.startDate | date:'yyyy-MM-dd'}}</span>
              <span style="margin:0 5px;">-</span>
              <span>{{log.endDate | date:'yyyy-MM-dd'}}</span>
            </ion-note>
            <div>
              <ion-note>
                <ion-icon class="szom" name="md-dianzanmoren" float-left></ion-icon>
                <p float-left>{{log.listStLike.length}}</p>
              </ion-note>
              <ion-note>
                <ion-icon class="szom" name="md-xiaoxi" float-left></ion-icon>
                <p float-left>{{log.listStComment.length}}</p>
              </ion-note>
            </div>
          </div>

        </div>
      </div>
    </ion-item>
  </ion-list> -->
</ion-content>
