<ion-header no-border>
  <ion-toolbar color="white" class="search-header">
    <div class="szom-search">
      <img class="search-icon" src="assets/imgs/search-gray@3x.png">
      <ion-searchbar #searchbar [(ngModel)]="selectString" (ionInput)="search()" placeholder=""></ion-searchbar>
      <img class="search-clear-icon" src="assets/imgs/delete@3x.png" *ngIf="selectString" (click)="selectString='';search();">
    </div>
    <button class="cancel-btn" (click)="goBack()" ion-button clear float-right>取消</button>
  </ion-toolbar>
</ion-header>


<ion-content overflow-scroll="false" content-shadow>
  <div class="conditions">
    <div class="select-btn" (click)="goSelectDate()">
      <img class="filter-icon" *ngIf="!timeStarts && !timeEnd" src="assets/imgs/filter@3x.png" />
      <img class="filter-icon" *ngIf="timeStarts || timeEnd" src="assets/imgs/filter-active@3x.png" />
      <span class="title">筛选:</span>
      <span class="color-blue" *ngIf="timeStarts || timeEnd">{{timeStarts}}至{{timeEnd}}</span>
      <ion-icon float-right class="szom" [name]="selectTimeShowFlag?'md-shang':'md-xia'"></ion-icon>
    </div>
  </div>

  <not-found *ngIf="!dailyList.length && !isLoading"></not-found>


  <div style="text-align:center;" *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div *ngIf="dailyList.length" class="daily-list" [class.listDiv]="dailyList.length">
    <ion-item *ngFor="let log of dailyList;let i=index;" tappable (click)="goDailyShow(log)">
      <list-item [log]="log" [getImageUrl]="getImageUrl" [selectString]="selectString"></list-item>
    </ion-item>
  </div>

  <div class="no-more-tip" *ngIf="!hasMore && dailyList.length"><span></span>没有更多内容<span></span></div>
  <ion-infinite-scroll *ngIf="!isLoading && hasMore" (ionInfinite)="more($event)">
    <ion-infinite-scroll-content loadingText=""></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
