<ion-header no-border>

  <ion-toolbar color="white">
    <div class="szom-search">
      <ion-icon class="szom" name="md-sousuo"></ion-icon>
      <ion-searchbar #searchbar [(ngModel)]="selectString" (ionInput)="search()" placeholder=""></ion-searchbar>
      <ion-icon *ngIf="selectString" class="szom" name="md-guanbi" (click)="selectString='';search()"></ion-icon>
    </div>
    <button class="cancel-btn" ion-button (click)="goBack()" clear float-right>取消</button>
  </ion-toolbar>

</ion-header>


<ion-content overflow-scroll="false">
  <div class="conditions">
    <div class="select-btn" (click)="goSelectDate()">
      <ion-icon [class.color-blue]="timeStarts" class="szom" name="md-shaixuan"></ion-icon>
      <span class="title">筛选:</span>
      <span class="color-blue" *ngIf="timeStarts || timeEnd">{{timeStarts}}至{{timeEnd}}</span>
      <ion-icon float-right class="szom" [name]="selectTimeShowFlag?'md-shang':'md-xia'"></ion-icon>
    </div>
  </div>
  <div *ngIf="!isLoading&&!dailyList.length" class="setDiv">
    <not-found></not-found>
  </div>
  <div class="main-content">
    <div style="text-align:center;" *ngIf="isLoading">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <ion-list *ngIf="dailyList" class="daily-list" [class.listDiv]="dailyList.length">
      <ion-item *ngFor="let log of dailyList;let i=index;" tappable (click)="goDailyShow(log)">
        <list-item [log]="log" [getImageUrl]="getImageUrl" [selectString]="selectString"></list-item>
      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll *ngIf="hasMore" (ionInfinite)="more($event)">
    <ion-infinite-scroll-content loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
