<ion-header no-border>

    <ion-toolbar>
      <div class="input-box">
        <ion-icon class="szom" name="md-sousuo"></ion-icon>
        <ion-searchbar #searchbar [(ngModel)]="selectString" (ionInput)="goSelcet($event)" placeholder="搜索服务、办事项目"></ion-searchbar>
      </div>
      <button ion-button (click)="goBack()" clear float-right>取消</button>
    </ion-toolbar>
  
  </ion-header>
  
  
  <ion-content overflow-scroll="false">
    <div class="conditions">
      <div class="select-btn" (click)="selectTimeShowFlag = !selectTimeShowFlag">
        <div class="left">
          <ion-icon [class.color-blue]="timeStarts" class="szom" name="md-shaixuan"></ion-icon>
          <p class="title">筛选:</p>
          <p [class.color-blue]="timeStarts" class="text">{{timeStarts}}</p>
          <p [class.color-blue]="timeStarts || timeEnd" *ngIf="!isTimeStart || timeEnd">至</p>
          <p [class.color-blue]="timeEnd" class="text">{{timeEnd}}</p>
        </div>
        <ion-icon class="szom" [name]="selectTimeShowFlag?'md-shang':'md-xia'"></ion-icon>
      </div>
  
      <ion-list class="select-time" [hidden]="!selectTimeShowFlag">
        <div class="date-select">
          <div class="title">起始时间：</div>
          <ion-datetime displayFormat="YYYY年MM月DD日" doneText="确定" cancelText="取消" pickerFormat="YYYY MM DD" [(ngModel)]="timeStarts"
            placeholder="请选择"></ion-datetime>
          <ion-icon class="szom" name="md-you"></ion-icon>
        </div>
        <div class="date-select">
          <div class="title">结束时间：</div>
          <ion-datetime displayFormat="YYYY年MM月DD日" doneText="确定" cancelText="取消" pickerFormat="YYYY MM DD" [(ngModel)]="timeEnd" placeholder="请选择"></ion-datetime>
          <ion-icon class="szom" name="md-you"></ion-icon>
        </div>
        <div class="btn">
          <button ion-button color="light" (click)="reset()">重置</button>
          <button ion-button (click)="goSelcet($event)">确定</button>
        </div>
      </ion-list>
    </div>
    
    <div class="shade" [hidden]="!selectTimeShowFlag" (click)="goSelcet($event)"></div>
    <ion-list *ngIf="dailyList" class="daily-list">
      <ion-item *ngFor="let log of dailyList;let i=index;" tappable (click)="goDailyShow(log)">
          <h3 [innerHTML]="highLight(log.content,selectString)"></h3>
        <div class="other">
          <ion-note class="date">{{log.publishTime | date:'yyyy-MM-dd' }}</ion-note>
          <ion-note>
            <ion-icon class="szom" name="md-dianzanmoren"></ion-icon> {{log.listStLike.length}}</ion-note>
          <ion-note>
            <ion-icon class="szom" name="md-xiaoxi"></ion-icon> {{log.listStComment.length}}</ion-note>
        </div>
        <ion-thumbnail item-end *ngIf="i%2==0">
          <img src="img/thumbnail-totoro.png">
          <!-- <img-loader src="img/thumbnail-totoro.png" useImg fallback="assets/imgs/fail.jpg"></img-loader> -->
        </ion-thumbnail>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="more($event)">
      <ion-infinite-scroll-content loadingText="正在加载..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>