page-sign-tags {
  ion-icon {
    position: absolute;
    font-size: rem(12);
    padding: rem(10);
    right: 0;
  }
  h2 {
    font-size: rem(18);
    color: #242732;
    letter-spacing: rem(-0.43);
    text-align: center;
    line-height: rem(24);
    margin-top: rem(25);
    font-weight: bold;
  }
  .impression {
    padding: rem(10);
    background: #fff;
    ion-badge {
      height: rem(40);
      width: 46%;
      border-radius: 1px;
      padding: 0 rem(8);
      line-height: rem(40);
      margin: rem(8) 2%;
      color: #545454;
      background: #F4F4F4;
      border-radius: rem(1);
      font-size: rem(16);
      letter-spacing: 0;
      font-weight: normal;
      &.selected {
        background: #4D74EB;
        color: #fff;
      }
    }
  }
  button {
    position: absolute;
    bottom: 0;
    height: rem(50);
    line-height: rem(50);
    font-size: rem(18);
    color: #4D74EB;
    text-align: center;
    border-top: rem(1) solid #F0F0F0;
    width: 100%;
    background: #fff;
  }
}
