<ion-header no-border>
  <ion-navbar color="white">
    <ion-title (click)="goTop()">干部动态</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goDynamicSearch();$event.stopPropagation();" class="searchBtn">
        <ion-icon class="szom" name="md-sousuo"></ion-icon>
      </button>
      <button ion-button (click)="popover($event);$event.stopPropagation();">
        <ion-icon class="szom" name="md-xierizhi"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-buttons class="sildes-btns">
    <button *ngIf="menuProvider.hasMenu('dynamic-follow')" ion-button clear (click)="goDynamicList(0)" [class.active]="isActive === 0">关注</button>
    <button *ngIf="menuProvider.hasMenu('dynamic-unit')" ion-button clear (click)="goDynamicList(1)" [class.active]="isActive === 1">本单位</button>
    <button *ngIf="menuProvider.hasMenu('dynamic-recommend')" ion-button clear (click)="goDynamicList(2)" [class.active]="isActive === 2">推荐</button>
    <button *ngIf="menuProvider.hasMenu('dynamic-leader')" ion-button clear (click)="goDynamicList(3)" [class.active]="isActive === 3">领导批赞</button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-slides #mySlider (ionSlideDidChange)="onSlideChanged($event)">
    <ion-slide>
      <page-dynamic-list type="attention"></page-dynamic-list>
    </ion-slide>
    <ion-slide>
      <page-dynamic-list type="unit"></page-dynamic-list>
    </ion-slide>
    <ion-slide>
      <page-dynamic-list type="recommend"></page-dynamic-list>
    </ion-slide>
    <ion-slide>
      <page-dynamic-list type="leaderlike"></page-dynamic-list>
    </ion-slide>
  </ion-slides>
</ion-content>
