page-dynamic {
    .toolbar .toolbar-title{
        font-size: rem(17) !important;
        color: #333333;
    }
    ion-segment-button{
        font-size: rem(15) !important;
        color: #666666 !important;
    }
    .segment .segment-button.activated, .segment .segment-button.segment-activated{
        border-color: #4D74EB;
        color: #4D74EB !important;
    }
    ion-navbar{
        ion-icon{
            font-size: rem(16);
        }
        .searchBtn{
            margin-right: rem(10) !important;
        }
    }
  
    
}
