<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title text-center>工作日志</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="like-main">
    <div class="total">
      {{stlikeSum}}
      <p class="des">总赞数</p>
    </div>
    <ion-row text-center padding-vertical *ngIf="stlikeList" class="like-classify">
      <ion-col *ngFor="let stlike of stlikeList;let i=index;">
        <p class="num">{{stlike.likeCounts}}</p>
        <p class="des">{{stlike.operatorTypeName}}
          <p>
      </ion-col>
    </ion-row>
  </div>
  <ion-list *ngIf="logDataList" class="daily-list">
    <ion-item *ngFor="let log of logDataList;let i=index;" tappable (click)="goDailyShow(log)">
      <h4>{{log.content}}</h4>
      <div class="other">
        <ion-note class="date">{{log.publishTime | date:'yyyy-MM-dd' }}</ion-note>
        <ion-note>
          <ion-icon class="szom" name="md-dianzanmoren"></ion-icon> {{log.sbLikeList.length}}
        </ion-note>
        <ion-note>
          <ion-icon class="szom" name="md-xiaoxi"></ion-icon> {{log.sbCommentList.length}}
        </ion-note>
      </div>
      <ion-thumbnail item-end *ngIf="log.uploadFileDetailDTOList&&log.uploadFileDetailDTOList.length">
        <img *ngIf="log.uploadFileDetailDTOList.length" [src]="getImageUrl(log.uploadFileDetailDTOList[0])">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="more($event)">
    <ion-infinite-scroll-content loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
