<ion-header no-border>

  <ion-navbar color="primary" text-center>
    <ion-title text-center>工作日志</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goDailySearch()">
        <ion-icon class="szom" name="md-sousuo"></ion-icon>
      </button>
      <button ion-button (click)="goDailyCreate()">
        <ion-icon class="szom" name="md-xierizhi"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="like-main">
    <div class="total">
      {{stlikeSum}}
      <p class="des">总赞数</p>
    </div>
    <ion-row text-center padding-vertical *ngIf="stlikeList" class="like-classify">
      <ion-col *ngFor="let stlike of stlikeList;let i=index;">
        <p class="num">{{stlike.likeCounts}}</p>
        <p class="des">{{stlike.jobLevel}}
          <p>
      </ion-col>
    </ion-row>
  </div>
  <ion-list *ngIf="logDataList" class="daily-list" no-lines>
    <ion-item *ngFor="let log of logDataList;let i=index;" tappable (click)="goDailyShow()">
      <h4>{{log.title}}</h4>
      <div class="other">
        <ion-note class="date">{{log.publishTime | date:'yyyy-MM-dd' }}</ion-note>
        <ion-note>
          <ion-icon class="szom" name="md-dianzanmoren"></ion-icon> {{log.likeCount}}</ion-note>
        <ion-note>
          <ion-icon class="szom" name="md-xiaoxi"></ion-icon> {{log.commentCount}}</ion-note>
      </div>
      <ion-thumbnail item-end *ngIf="i%2==0">
        <img src="img/thumbnail-totoro.png">
        <!-- <img-loader src="img/thumbnail-totoro.png" useImg fallback="assets/imgs/fail.jpg"></img-loader> -->
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>