<ion-header no-border>

  <ion-navbar color="white">
    <ion-title text-center>工作日志</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goDailySearch()">
        <ion-icon class="szom" name="md-sousuo"></ion-icon>
      </button>
      <!-- <button ion-button (click)="goDailyCreate()">
        <ion-icon class="szom" name="md-xierizhi"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="add-new" (click)="goDailyCreate()" *ngIf="!newFlag && dataLoadOver">
    <ion-icon class="szom" name="md-bianjixian"></ion-icon>
  </div>
  <div class="noDailyList" *ngIf="logDataList.length===0 && !newFlag && dataLoadOver">
    <embed src="../../assets/imgs/nolog.svg" type="image/svg+xml"/>
    <p>您还没有发布过日志
      <br>快去<a (click)="goDailyCreate()">发布</a>吧~</p>
  </div>
  <div class="noDailyList" *ngIf="logDataList.length===0 && newFlag  && dataLoadOver">
    <embed src="../../assets/imgs/nolog.svg" type="image/svg+xml"/>
    <p>没有发布过日志</p>
  </div>
  <div class="like-main" *ngIf="logDataList.length>0" (click)="showDetailLike()">
    <h1>{{stlikeSum}}</h1>
    <span class="des">总赞数
      <ion-icon class="szom" name="md-right"></ion-icon>
    </span>
  </div>
  <ion-list *ngIf="logDataList.length>0" class="daily-list">
    <ion-item *ngFor="let log of logDataList;let i=index;" tappable (click)="goDailyShow(log)">
      <list-item [log]="log" [getImageUrl] = "getImageUrl"></list-item>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="more($event)">
    <ion-infinite-scroll-content loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
