page-daily-create {
  ion-list.list {
    > .item-block:first-child,
    > .item-block:last-child {
      border-top: 0;
      border-bottom: 0;
    }
  }
  .item-block {
    border-top: 0;
    border-bottom: 0;
  }
  ion-textarea {
    font-size: 14px;
  }
  .btn-row {
    position: fixed;
    bottom: 10px;
    width: 100%;
  }
  .squared {
    margin-bottom: 80px;
  }
  .toolbar .toolbar-title{
    text-align: center;
  }
 // 头部
 .toolbar{
    padding: 2rem 0;
  }
.scroll-content{
    margin-top: 50px;
  }
.toolbar-background-ios{
    border-color: transparent!important;
  }
.toolbar .back-button{
    top: 0.5rem;
  }
// input边距
.text-input-ios{
  padding:2px 2px 2px 10px;
}
}
