page-me-update-password {
    .toolbar .back-button ion-icon{
        color: #4D74EB;
    }
    .verify{
        height: rem(50);
        background-color: #4D74EB;
        font-size: rem(16);
        margin: rem(30) auto 0;
    }
    .error-message{
        color: red;
    }
}
