<ion-header>

  <ion-navbar>
    <ion-title>修改密码</ion-title>
  </ion-navbar>
  <p class="topGrey"></p>
</ion-header>


<ion-content padding>
  <form [formGroup]="loginForm">
    <ion-list>
      <ion-item>
        <!-- <ion-label>密码</ion-label> -->
        <ion-input formControlName="pwd" maxlength="16" placeholder="请输入新密码" min-length="3" type="password" oncopy="return false" onpaste="return false" oncut="return false" oncontextmenu="return false"></ion-input>
        <button type="button" ion-button clear item-end  *ngIf="loginForm.controls['pwd'].value" (click)="loginForm.controls['pwd'].setValue('')">
          <ion-icon class="szom" name="guanbi"></ion-icon>
        </button>
      </ion-item>
      
      <ion-item>
        <!-- <ion-label>确认密码</ion-label> -->
        <ion-input formControlName="repwd" maxlength="16" placeholder="请确认新密码" type="password"  oncopy="return false" onpaste="return false" oncut="return false" oncontextmenu="return false"></ion-input>
        <button type="button" ion-button clear item-end  *ngIf="loginForm.controls['repwd'].value" (click)="loginForm.controls['repwd'].setValue('')">
          <ion-icon class="szom" name="guanbi"></ion-icon>
        </button>
      </ion-item>

      <div *ngIf="(pwd.touched && pwd.hasError('required'))" class="error-message">* 请输入密码</div>
      <!-- <div *ngIf="(pwd.hasError('minlength') || pwd.hasError('maxlength')) && pwd.touched" class="error-message">密码要求8-16位，请检查</div>
      <div *ngIf="pwd.hasError('pattern') && pwd.touched && (!pwd.hasError('minlength') && !pwd.hasError('maxlength'))" class="error-message">密码必须包含大写字母、小写字母、数字、符号至少三种组合，请检查</div>

      <div *ngIf="!(pwd.hasError('required') || pwd.hasError('maxlength') || pwd.hasError('minlength') || pwd.hasError('pattern'))">
        <div *ngIf="(repwd.touched && repwd.hasError('required'))" class="error-message">* 请再次输入密码</div>
        <div *ngIf="(repwd.hasError('minlength') || repwd.hasError('maxlength')) && repwd.touched" class="error-message">再次输入的密码要求8-16位，请检查</div>
        <div *ngIf="repwd.hasError('pattern') && repwd.touched && (!repwd.hasError('minlength') && !repwd.hasError('maxlength'))" class="error-message">再次输入的密码必须包含大写字母、小写字母、数字、符号至少三种组合，请检查</div>
      </div> -->

      <p class="firstP">1. 密码长度最小8位，最大16位</p>
      <p>2、密码必须包含大写字母、小写字母、数字、符号，四种类型中的至少三种，密码需区分大小写</p>
      <button ion-button block class="verify" (click)="consolesom()" [disabled]="loginForm.invalid">提交</button>
    </ion-list>
  </form>

</ion-content>
