page-me-update-password {
    .toolbar .back-button ion-icon{
        color: #4D74EB;
    }
    .toolbar .toolbar-title{
        font-size: rem(17);
        color: #333333;
    }
    .toolbar-background{
        background-color: #ffffff;
        // background-image: 0;
    }
    .verify{
        height: rem(50);
        background-color: #4D74EB;
        font-size: rem(16);
        margin: rem(15) auto 0;
    }
    .error-message{
        color: red;
        margin: rem(15) 0;
    }
    p{
        color: #999999;
        margin: 0;
    }
    .firstP{
        margin-top: rem(15);
    }
    .item.item-block .item-inner{
        @include border-b-1px(color($colors, boderColor));
    }
    .topGrey{
        height: rem(10);
        background-color: #fafafa;
        margin: 0;
        width: 100%;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none;
    }
    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        -webkit-box-shadow: inset 0 -0px 0 0 #488aff;
        box-shadow: inset 0 0px 0 0 #488aff !important;
    }
    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner{
        -webkit-box-shadow: inset 0 -0px 0 0 #488aff;
        box-shadow: inset 0 -0px 0 0 #488aff;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #f53d3d;
        -webkit-box-shadow: inset 0 -0px 0 0 #f53d3d;
        box-shadow: inset 0 -0px 0 0 #f53d3d;
    }
}
