page-work-weektable {
    *{
        margin: 0;
        padding: 0;
    }
    ul,li{
        list-style-type: none;
    }
    .time-select{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .day-data{
        height: 150px;
        width: 100%;
        border-bottom: 1px solid #999;
    }
    .day-data>div{
        height: 100%;
        width: 20%;
        border: 1px solid #999;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .day-data>div p{
        display: flex;
        justify-content: center;
    }
    .work-data{
        height: 100%;
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .work-data li{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
    .work-data li>.Period{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 100%;
        border: 1px solid #999;
    }
    .work-data li>.work{
        width: calc(100% - 50px);
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        border: 1px solid #999;
        padding: 0 10px;
    }
    .work-data li>.work button{
        font-size: 10px;
        height: 50%;
        width: 70px;
        border: 1px solid #10A0FC;
        color: #10A0FC;
    }
    // 头部
 .toolbar{
    padding: 2rem 0;
  }
  .scroll-content{
    margin-top: 50px;
    padding:0px!important;
  }
  .toolbar-background-ios{
    border-color: transparent!important;
  }
  .toolbar .back-button{
    top: 0.5rem;
  }
  .toolbar .bar-buttons .bar-button:not(first-child){
      font-size: 1.5rem;
  }
// 内容
.content-ios{
    background-color: #efeff4;
    padding:0px;
}
.time-select{
    background-color: #ffff;
    margin-bottom:15px;
}
ul{
    background-color: #ffff;
}
.day-data{
    border-bottom: none;
}
.day-data > div,.Period,.work{
    border: 1px solid #e5e5e5!important;
}
.work-data li > .work button{
    background: #fff;
}
.button-round-ios{
    padding: 0 3rem;
}
 .day-data > div,.Period{
     color:#888888;
 }
}
