page-work-weektable {
  .statistics{
    color: color($colors,mainBlueColor)!important;
    font-size: rem(17);
  }
  .time-select{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(44);
    .time{
      font-size: rem(18);
      color: #333333;
      letter-spacing: -0.22px;
      position: relative;
      opacity: 0;
      z-index: 1;
    }
    .time-show{
      position: absolute;
      left: 50%;
      font-size: rem(18);
      color: #333333;
      width: rem(150);
      line-height: rem(44);
      margin-left: rem(-75);
    }
    .button{
      margin: 0;
      font-size: 18px;
      padding: 0 rem(25);
    }
  }

  .add-new{
    position: fixed;
    right: rem(20);
    bottom: rem(45);
    width: rem(50);
    height: rem(50);
    line-height: rem(50);
    background-color:color($colors,mainBlueColor);
    border-radius: 50%;
    text-align: center;
    z-index: 3;

    ion-icon{
      color:#fff;
      height: rem(50);
      line-height: rem(50);
      font-size: rem(22);
    }
  }

  .noDailyList{
    position: relative;
    text-align: center;
    margin-top: rem(100);
    img{
      display: block;
      width: rem(88);
      height: rem(88);
      position: relative;
      left: 50%;
      margin-left: rem(-44);
    }
    p{
      font-size: rem(15);
      color: #999999;
    }
    button{
      font-size: rem(18);
      color: #FFFFFF;
      height: rem(46);
      width: rem(208);
    }
  }

  .time-tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(44);
    padding: 0 rem(12);
    border-bottom: .5px solid #e8e8e8;

    .button{
      width: rem(37);
      height: rem(27);
      line-height: rem(27);
      font-size: rem(14);
      margin: 0;
      padding: 0;
      color: #999999;
      border-radius: rem(1);
      &.active{
        background: color($colors,mainBlueColor);
        color: #ffffff;
      }
    }
  }

  .weektable-list{

    .title{
      font-size: rem(12);
      background-color: #FAFAFA;
      color: #999999;
      letter-spacing: -0.42px;
      height: rem(20);
      line-height: rem(20);
      padding-left: rem(15);
    }

    .item{
      .item-inner{
        padding: rem(18) rem(15) rem(18) 0;
        border-bottom: .5px solid color($colors,boderColor)!important;
        .label {
          margin: 0;
          display: flex;
        }
      }
      @mixin color-bg($color, $alpha) {
        color: $color;
        background:rgba($color: $color, $alpha: $alpha);
      }
      .type{
        width: rem(42);
        height: rem(42);
        line-height: rem(42);
        margin: 0 rem(15);
        @include color-bg(#4D74EB, 0.3);
        &.type1{
          @include color-bg(#4d74eb, 0.3);
        }
        &.type2{
          @include color-bg(#3FA60C, 0.3);
        }
        &.type3{
          @include color-bg(#FF7A45, 0.3);
        }
        &.type4{
          @include color-bg(#B031CA, 0.3);
        }
        &.type5{
          @include color-bg(#C98600, 0.3);
        }
        &.type6{
          @include color-bg(#79888b, 0.3);
        }
        .text{
          display: inline-block;
          width: rem(28);
          font-size: rem(12);
          line-height:rem(14);
          letter-spacing: 1.63px;
          white-space: initial;
          margin: rem(7);
        }
      }
      .content{
        width: 100%;
        padding-left: rem(56);
        margin-left: rem(-56);
        .text{
          font-size: rem(15);
          color: #333333;
          height: rem(21);
          line-height: rem(21);
          margin: 0 0 rem(4) 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .time{
          ion-note{
            color:#afafaf;
            margin-right: rem(10);
            font-size: rem(13);
          }
        }
      }
    }

  }

}
