<div class="between-date-picker-backdrop" (click)="dismiss(wrapper)"></div>
<div class="between-date-picker-wrapper animated bounceInUp" #wrapper>
  <div class="between-date-picker-displayer">
    <div class="between-date-picker-start {{selectStartOrEnd=='start' ? 'active' : ''}}"
      (click)="selectStartOrEnd='start'">
      <label>开始时间</label>
      <p *ngIf="startDate">{{startDate | date:'yyyy年MM月dd日'}}</p>
      <p *ngIf="!startDate">请选择</p>
    </div>
    <div class="line"></div>
    <div class="between-date-picker-end {{selectStartOrEnd=='end' ? 'active' : ''}}"
      (click)="selectStartOrEnd='end'">
      <label>结束时间</label>
      <p *ngIf="endDate">{{endDate | date:'yyyy年MM月dd日'}}</p>
      <p *ngIf="!endDate">请选择</p>
    </div>
  </div>
  <div class="between-date-picker-columns">
    <div *ngFor="let column of columns; let i = index;" class="between-date-picker-column"
      (touchstart)="mousedownColumn($event, i)"
      (touchmove)="mousemoveColumn($event)"
      (touchend)="mouseupColumn($event)"
      >
      <div *ngFor="let d of column.data; let j = index;" class="between-date-picker-item"
        [style]="style(i, j)">{{ d.text }}</div>
    </div>
  </div>
  <div class="between-date-picker-buttons">
    <button *ngFor="let button of buttons" (click)="button.handler&&button.handler()" [class]="button.cls">{{ button.text }}</button>
  </div>
</div>
