<ion-header no-border>
  <ion-navbar>
    <ion-title text-center>详细资料</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item class="user-info">
    <img src="assets/imgs/user.jpg">
    <h2>
      {{me.name}}
      <ion-badge *ngIf="todaySign&&todaySign.signInId" (click)="goMeSign()">出差</ion-badge>
      <ion-badge *ngIf="!todaySign||!todaySign.signInId" (click)="goSignTags()">签到</ion-badge>
    </h2>
    <ion-note>{{me.orgName}} | {{me.dutyName}}</ion-note>
  </ion-item>
  <ion-segment [(ngModel)]="personInfo">
    <ion-segment-button value="baseInfo">
      基本信息
    </ion-segment-button>
    <ion-segment-button value="selfInfo">
      个人自述
    </ion-segment-button>
    <ion-segment-button value="tags">
        印象标签
      </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="personInfo">
    <ion-list no-lines class="type-list" *ngSwitchCase="'baseInfo'">
      <ion-item>
        <ion-note>出生年月</ion-note>
        <h4>{{me.birthday}}</h4>
      </ion-item>
      <ion-item>
        <ion-note>性别</ion-note>
        <h4>{{me.sexCode}}</h4>
      </ion-item>
      <ion-item>
        <ion-note>民族</ion-note>
        <h4>{{me.nationality}}</h4>
      </ion-item>
      <ion-item>
        <ion-note>籍贯</ion-note>
        <h4>{{me.nativePlace}}</h4>
      </ion-item>
      <ion-item>
        <ion-note>政治面貌</ion-note>
        <h4>中国党员</h4>
      </ion-item>
      <ion-item>
        <ion-note>入党时间</ion-note>
        <h4>{{me.partyTime}}</h4>
      </ion-item>
      <ion-item>
        <ion-note>全日制学历学位</ion-note>
        <h4>{{me.onJobDegree}}</h4>
      </ion-item>
      <ion-item>
        <ion-note>全日制毕业院校</ion-note>
        <h4>{{me.onJobGraSchoolMajor}}</h4>
      </ion-item>
      <ion-item>
        <ion-note>在职学历学位</ion-note>
        <h4>{{me.onJobDegree}}</h4>
      </ion-item>
      <ion-item>
        <ion-note>在职毕业院校及专业</ion-note>
        <h4>{{me.onJobGraSchoolMajor}}</h4>
      </ion-item>
    </ion-list>
    <ion-list no-lines class="type-list" *ngSwitchCase="'selfInfo'">
      <ion-item (click)="goMeUpdateZS('座右铭', 'motto')">
        <ion-note>座右铭</ion-note>
        <h4>{{selfInfo.motto}}</h4>
        <ion-icon item-end class="szom" name="you"></ion-icon>
      </ion-item>
      <ion-item (click)="goMeUpdateZS('工作特长', 'jobSkills')">
        <ion-note>工作特长</ion-note>
        <h4>{{selfInfo.jobSkills}}</h4>
        <ion-icon item-end class="szom" name="you"></ion-icon>
      </ion-item>
      <ion-item (click)="goMeUpdateZS('兴趣爱好', 'interests')">
        <ion-note>兴趣爱好</ion-note>
        <h4>{{selfInfo.interests}}</h4>
        <ion-icon item-end class="szom" name="you"></ion-icon>
      </ion-item>
      <ion-item (click)="goMeUpdateZS('人生感悟', 'lifeInspiration')">
        <ion-note>人生感悟</ion-note>
        <h4>{{selfInfo.lifeInspiration}}</h4>
        <ion-icon item-end class="szom" name="you"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list no-lines class="type-list" *ngSwitchCase="'selfInfo'">
      <ion-item (click)="goMeUpdateZS('做过什么', 'mainJobs')">
        <ion-note>做过什么</ion-note>
        <h4>{{selfInfo.mainJobs}}</h4>
        <ion-icon item-end class="szom" name="you"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list no-lines class="type-list" *ngSwitchCase="'selfInfo'">
      <ion-item (click)="goMeUpdateZS('做成过什么', 'mainAchievements')">
        <ion-note>做成过什么</ion-note>
        <h4>{{selfInfo.mainAchievements}}</h4>
        <ion-icon item-end class="szom" name="you"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'tags'">
      <div class="twoTime">
        <ion-item class="selectTime selectTime1">
          <ion-icon class="szom" name="md-yanjing" item-start></ion-icon>
          <ion-datetime displayFormat="YYYY.MM,DD" pickerFormat="YYYY M D" placeholder="请选择" cancelText="取消" doneText="确定"
            [(ngModel)]="startTime" (ngModelChange)="getImpressionList()"></ion-datetime>
        </ion-item>
        <div class="guodu"></div>
        <ion-item class="selectTime selectTime2">
          <ion-icon class="szom" name="md-yanjing" item-start></ion-icon>
          <ion-datetime displayFormat="YYYY.MM,DD" pickerFormat="YYYY M D" placeholder="请选择" cancelText="取消" doneText="确定"
            [(ngModel)]="endTime" (ngModelChange)="getImpressionList()"></ion-datetime>
        </ion-item>
      </div>

      <div class="impression">
        <ion-badge *ngFor="let tag of tagList">{{tag.tagName}} {{tag.count}}</ion-badge>
      </div>
    </ion-list>
  </div>
</ion-content>
