page-me-info {

  ion-navbar {
    .toolbar-background {
      background-image: linear-gradient(to right, #628FF7 0%, #3555DE 100%);
    }
    .toolbar-title, ion-icon {
      color: #fff;
    }
  }
  .list .item-block .item-inner{
    border-bottom: 0 !important;
    margin-left: 0px !important;
  }
  .scroll-content {
    background: #ffffff;
  }
  .twoTime{
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    height: rem(38);
    border-bottom: 0.5px solid #FAFAFA;
    .datetime{
      padding-left: 0px;
    }
    .selectTime{
      position:absolute;
      height: rem(28);
      min-height: rem(28);
      width: rem(144);
      background-color: #FAFAFA;
      border-bottom: 0;
      ion-datetime{
        font-size: rem(14);
        color: #545454;
      }
    }
    .selectTime1{
      top: 50%;
      margin-top: rem(-14);
      left: rem(16);
    }
    .selectTime2{
      top: 50%;
      margin-top: rem(-14);
      right: rem(16);
    }
    ion-icon{
      font-size: rem(9);
      min-height: rem(9) !important;
    }
    .guodu{
      position: absolute;
      width: rem(16);
      height: rem(2);
      top: 50%;
      margin-top: rem(-1);
      background-color: #dedddd;
    }
  }

  ion-item.user-info {
    width: rem(360);
    height: rem(70);
    background-image: linear-gradient(to right, #628FF7 0%, #3555DE 100%);
    .item-inner {
      padding-right: 0!important;
      ion-label.label {
        margin: 0;
        padding-left: rem(75);
        img {
          position: absolute;
          left: rem(15);
          top: rem(10);
          width: rem(50);
          height: rem(50);
        }
        h2 {
          font-size: rem(18);
          color: #FFFFFF;
          // letter-spacing: rem(-0.63);
          ion-badge {
            padding: rem(5) rem(5);
            font-size: rem(12);
            color: #FFFFFF;
            text-align: center;
            float: right;
            margin-right: rem(18);
            border-radius: 0;
            background: #7CCAFF;
            font-weight: normal;
            ion-icon {
              font-size: rem(12);
            }
          }
        }
        ion-note {
          opacity: 0.99;
          font-size: rem(12);
          color: #fff;
          line-height: rem(18);
        }
      }
    }
  }
  .sildes-btns{
    border-top: .5px solid #f1f1f1;
    margin: 0;
    display: flex;
    .button{
      flex: 1;
      margin: 0;
      height: rem(44);
      line-height: rem(44);
      color: #666666;
      font-size: rem(15);
      padding: 0;

      &.active{
        background-color: transparent;
        .button-inner{
          font-family: PingFangSC-Medium;
          color: #4D74EB;

          &:before{
              content: '';
              position: absolute;
              left: 50%;
              bottom: 0;
              height: rem(2);
              width: rem(30);
              margin-left: rem(-15);
              background: #4D74EB;
          }
        }
      }
    }
  }
  ion-segment {
    height: rem(44);
    background: #FFFFFF;
    margin-bottom: rem(2);
    border-bottom: 3px solid #FAFAFA;
    .segment-button {
      line-height: rem(44)!important;
      border-bottom: 0!important;
      font-size: rem(15)!important;
      color: #666666!important;
      letter-spacing: 0;
      position: relative;
      &.segment-activated {
        color: #4D74EB!important;
      }
      &.segment-activated:after {
        content: '';
        height: rem(2);
        background: #4D74EB;
        width: 20%;
        position: absolute;
        bottom: 0;
        left: 40%;
      }
    }
  }
  .swiper-slide {
    align-items: flex-start;
    padding-top: rem(4);
  }
  ion-list.type-list {
    ion-item.item {
      min-height: rem(54);
      height: rem(54) !important;
      .item-inner {
        padding-left: rem(15);
        padding-right: rem(15);
        border-bottom: rem(1) solid #F1F1F1;

        .label{
          margin: 0;
          padding: rem(7) 0;
          ion-note {
            display: block;
            font-size: rem(12);
            color: #CCCCCC;
            letter-spacing: 0;
            text-align: left;
            line-height: rem(17);
            height: rem(17);
          }
          h4 {
            padding-right: rem(15);
            font-size: rem(15);
            color: #333333;
            letter-spacing: 0;
            margin: rem(2) 0 0 0;
            line-height: rem(21);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
          }
        }
        ion-icon.szom {
          position: absolute;
          right: rem(15);
          font-size: rem(10);
          margin: 0;
          color: #D9D9D9;
        }

      }
    }
  }
  .impression {
    padding-left: rem(10);
    background: #fff;
    ion-badge {
      height: rem(30);
      padding: 0 rem(8);
      line-height: rem(30);
      margin: rem(5) rem(5);
      color: #4D74EB;
      background: rgba(77,116,235,0.10);
      border-radius: 1px;
      font-size: rem(14);
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 0;
    }
  }
}
