page-daily-one-search {
  .scroll-content {
    background: #fafafa;
  }

  ion-header{
    .toolbar-background{
      background-color: #fff;
    }
    .input{
      ion-icon{
        position: absolute;

      }
    }
  }

  .toolbar{
    box-sizing: border-box;
    padding: 0 rem(15);
    height: rem(48);
    background-color: #fff;
    .toolbar-content{
      display: flex;
      align-items: center;
      justify-content: space-around;

      .input-box{
        width: 100%;
        padding: 0;
        position: relative;
        display: flex;
        align-items: center;
        ion-icon{
          position: absolute;
          top: rem(8);
          left: rem(10);
          z-index: 3;
          color: #AFAFAF;
          &[name="guanbi"] {
            left: initial;
            right: rem(5);
          }
        }

        .searchbar{
          display: inline-block;
          width: 100%;
          height: rem(32);
          min-height: auto;
          padding: 0;
          .searchbar-input-container{
              height: 100%;
              display: flex;
              align-items: center;
          }
          .searchbar-input{
            height: 100%;
            line-height: normal;
            background-color: #F4F4F4;
            border-radius: .2rem;
            color: #333;
            font-size: rem(14);
            padding-left: rem(30);
            box-shadow: none;
            background-color: #F4F4F4;
            border-radius: rem(2);
          }
          .searchbar-search-icon{
            top: initial;
            display: none;
          }
        }
      }
      button {
        font-size: 17px;
        color: #545454;
        text-align: center;
        height: initial;
        padding: 0 rem(16);
      }
    }
  }
  time-select {
    position: fixed;
    width: 100%;
    top: rem(48);
    z-index: 2;
  }
  .modal-shadow {
    position: fixed;
    bottom: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background: rgba(0,0,0,.5);
  }
  ion-list.daily-list {
    margin-top: rem(38);
    padding: 0 rem(15);
    ion-item.item {
      border-bottom: rem(1) solid #F1F1F1;
      height: rem(121);
      padding: rem(18) 0;
      align-items: inherit;
      ion-note[item-start] {
        margin: 0;
        width: rem(26);
        height: rem(26);
        line-height: rem(26);
        text-align: center;
        opacity: 0.3;
        background: #4D74EB;
      }
      .item-inner {
        padding-left: rem(20);
        ion-label{
          margin: 0;
          div {
            &.text {
              background: #F4F4F4;
              border-radius: 1px;
              padding: rem(9) rem(7);
              height: rem(64);
              font-size: rem(15);
              color: #AFAFAF;
              letter-spacing: rem(-0.15);
              line-height: rem(16);
            }
            &.content {
              height: rem(64);
              font-size: 15px;
              color: #333333;
              display: flex;
              h3 {
                flex-grow: 1;
                padding-right: rem(16);
                .hightBright{
                  color: #4D74EB ;
                  font-weight: bold;
                }
              }
              img {
                width: rem(36);
                height: rem(36);
                border-radius: rem(5);
              }
            }
            span {
              font-size: rem(13);
              color: #AFAFAF;
              letter-spacing: rem(-0.08);
              line-height: rem(15);
              &.icons {
                float: right;
                ion-icon {
                  margin-left: rem(13);
                  font-size: rem(13);
                }
              }
            }
          }
        }
      }
    }
  }
}
